{% extends "__base.jinja" %}
{% block body %}
    <div class='row mb-3'>
        <div class='col-12 mb-3'>
            <h1 class='font-weight-bold'>{{token.get_printable_id()}}</h1>
            <p class='mb-0'>
                <span class='font-weight-bold'>Texti: </span>
                <span class='font-italic'>{{token.text}}</span>
            </p>
            <span class='font-weight-bold'>Framburður: </span>
            {% if token.pron %}
                {{macros.pron_spans(token.pron_list)}}
            {% else %}
                <span>Ekki tilgreint</span>
            {% endif %}
        </div>
        <div class='col-md-6 col-12'>
            <div class='row'>
                <div class='col-5'>
                    <p>Bætt við þann: </p>
                </div>
                <div class='col-7 text-right'>
                    <p>{{token.created_at | datetime(format='low')}}</p>
                </div>
            </div>
            <div class='row'>
                <div class='col-5'>
                    <p>Upprunalegt skjal: </p>
                </div>
                <div class='col-7 text-right'>
                    <code>{{token.original_fname}}</code>
                </div>
            </div>
            <div class='row'>
                <div class='col-5'>
                    <p>Núverandi skjal: </p>
                </div>
                <div class='col-7 text-right'>
                    <code>{{token.fname}}</code>
                </div>
            </div>
        </div>
        <div class='col-md-6 col-12'>
            <div class='row'>
                <div class='col-5'>
                    <p>Tekið úr:</p>
                </div>
                <div class='col-7 text-right'>
                    <p>{{token.source}}</p>
                </div>
                <div class='col-5'>
                    <p>Röðunarstuðull</p>
                </div>
                <div class='col-7 text-right'>
                    {% if token.score %}
                        <p>{{token.score}}</p>
                    {% else %}
                        <p>Ekki tilgreint</p>
                    {% endif %}
                </div>
                <div class='col-5'>
                    <p>Í lagi: </p>
                </div>
                <div class='col-7 text-right'>
                    {% if token.marked_as_bad %}
                        <span class='text-danger'>
                            Nei
                            {{macros.btn_icon('times', 'l')}}
                        </span>
                    {% else %}
                        <span class='text-success'>
                            Já
                            {{macros.btn_icon('check', 'l')}}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class='row mb-3'>
        <div class='col-12'>
            <a href={{token.get_download_url()}} class='btn btn-sm btn-secondary float-right ml-2 mt-2'>
                {{macros.btn_icon('download', 'r')}} Sækja
            </a>
        </div>

    </div>


{% endblock %}
{% block scripts %}
    {{super()}}
    <script src='{{url_for("main.static", filename="js/listControls.js")}}'></script>
{% endblock %}