{% extends "_list.jinja" %}
{% block title %}MOS prufur{% endblock %}
{% block total %}{{mos_list.total}}{% endblock %}
{% block buttons %}
    {% if current_user.is_admin() %}
        <a class='btn btn-success float-right dropdown-toggle' data-toggle='dropdown''>
            Safnanir
        </a>
        <div class='dropdown-menu'>
            <a href='{{url_for("mos.mos_collection_none")}}' class='bg-secondary dropdown-item'>
                Óháð söfnun
            </a>
            {% for collection in collections %}
                <a href='{{collection.mos_url}}' class='dropdown-item'>
                    {{collection.name}}
                </a>
            {% endfor %}
        </div>
        <a class='btn btn-secondary text-success mr-2 float-right' href='{{url_for("mos.mos_create")}}'>
            {{macros.btn_icon('plus', 'r')}}
            Búa til MOS óháð söfnun
        </a>
    {% endif %}
{% endblock %}
{% block table %}
    {% if mos_list.total > 0 %}
        {% with mos_list=mos_list.items %}
            {% include 'mos_all_table.jinja'%}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if mos_list.total > 0 %}
        {{macros.pagination(mos_list, url_for('mos.mos_list'))}}
    {% endif %}
{% endblock %}

{% block no_results %}
    {% if mos_list.total == 0 %}
        {{macros.no_results("Engar MOS prufur",
            "Til að sjá MOS prufur þarf fyrst að búa þær til.",
            url_for('mos.mos_create'), "Búa til MOS prufu")}}
    {% endif %}
{% endblock %}
