
{% if mos.show_text_in_test %}
    <div id='tokenCard' class="card">
{% else %}
    <div id='tokenCard' class="card d-none">
{% endif %}
    <div class="card-body d-flex flex-column justify-content-between">
        <h3 class='card-text' id='tokenText'>{{mos_list[0].text}}</h3>
        <p class='card-text mb-0'>
            <a id="tokenHref" target="_blank" rel="noopener noreferrer" href='#'><code id="tokenFileID"></code></a>

        </p>
    </div>
    <ul id='recordingInfoList' class="list-group list-group-flush">
        <li id='analyzeLi' class='list-group-item' style='display: none;'>
            <i id='analyzeIcn' class='fa mr-2'></i>
            <span id="analyzeMsg"></span>
        </li>
        <li id="transcriptionLi" class="list-group-item" style="font-style: italic; display: none;">
            <p id='finalTranscriptionElement' class='mb-0'></p>
            <p id="transcriptionElement" class="mb-0"></p>
            <small class="float-right" style="font-style: initial;">Rafrænt afrit</small>
        </li>
    </ul>
</div>
