{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-12'>
            <div class='card card-body'>
                <form method="POST" action="{{ url_for('security.login') }}">
                    {% with form=login_user_form %}
                        {% include 'forms/_form.jinja' %}
                    {% endwith %}
                    <button type='submit' class='btn btn-primary'>
                        Skrá inn
                        <span class='ml-2'><i class='fa fa-key'></i></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
