{% extends "__base.jinja" %}
{% block body %}
    <div class='row mb-3'>
        <div class='col-12 mb-3'>
            <h1 class='font-weight-bold text-center'>
                Umsókn móttekin
            </h1>
            <p class='text-center'>
                <i class='fa fa-check text-success fa-5x'></i>
            </p>
            <p class=text-center>
                Takk fyrir að sækja um. Við verðum í sambandi.
            </p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{super()}}
{% endblock %}