{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-12'>
            <div class='card card-body'>
                <h2>{{posting.name}}</h2>
                <p>{{posting.ad_text}}</p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-12'>
            <div class='card card-body'>
                <form method="POST" action="{{action}}">
                    {% include 'forms/_form.jinja' %}
                    <button type='submit' class='btn btn-success float-right'>
                        Halda áfram
                        <span class='ml-2'><i class='fa fa-check'></i></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        var secondTry = /not-in-chrome/.test(document.referrer);
        if (!isChrome && !secondTry) {
            window.location = "{{url_for('main.not_in_chrome')}}";
        }
        </script>
{% endblock %}
