<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>
                Dagsetning
                {{macros.sort_th_a('created_at')}}
            </th>
            <th>
                Nafn
                {{macros.sort_th_a('name')}}
            </th>
            <th>
                UUID
                {{macros.sort_th_a('uuid')}}
            </th>
        </thead>
        <tbody>
            {% for posting in postings %}
                <tr>
                    <td>{{posting.created_at | datetime(format='low')}}</td>
                    <td>
                        <a href={{posting.get_url()}}>{{posting.name}}</a>
                        {% if posting.dev %}
                            <code class="pl-2">DEV</code>
                        {% endif %}
                    </td>
                    <td>{{posting.uuid}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>