{% extends "__base.jinja" %}
{% block headscripts %}
    {{super()}}
    <script src='{{url_for("main.static", filename="js/plotly-latest.min.js")}}'></script>
{% endblock %}
{% block body %}
    <div class='row mb-3'>
        <div class='col-12 mb-3'>
            <h1 class='font-weight-bold'>{{posting.name}}</h1>
            <div class='row'>
                <div class='col-5'>
                    <p>Bætt við þann: </p>
                </div>
                <div class='col-7 text-right'>
                    <p>{{posting.created_at | datetime(format='low')}}</p>
                </div>
            </div>
            <p class='mb-0'>
                <span class='font-weight-bold'>Texti: </span>
                {{posting.ad_text}}
            </p>
        </div>
    </div>
    <div class='row mb-3'>
        <div class='col-12'>
            {% if current_user.is_admin() %}
                <button class='btn btn-sm btn-secondary text-danger float-right' data-toggle='modal', data-target='#deletePostingModal'>
                    {{macros.btn_icon('trash', 'r')}} Eyða
                </button>
                <a class='btn btn-sm btn-secondary text-warning float-right mr-2' href='{{url_for('application.edit_posting', id=posting.id)}}'>
                    {{macros.btn_icon('edit', 'r')}} Breyta
                </a>
            {% endif %}
            <a class='btn btn-sm btn-secondary float-right mr-2' href='{{url_for('collection.collection_detail', id=posting.collection)}}'>
                {{macros.btn_icon('arrow-right', 'r')}} Söfnun
            </a>
            <a class='btn btn-sm btn-secondary float-right mr-2' href='{{posting.get_apply_url()}}'>
                {{macros.btn_icon('arrow-right', 'r')}} Hlekkur fyrir umsókn
            </a>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Upplýsingar</h3>
        </div>
        <div class='col-md-6 col-12'>
            <div class='row'>
                <div class='col-7'>
                    <p>Fjöldi:</p>
                </div>
                <div class='col-5 text-right'>
                    <p>{{ info.total }}</p>
                </div>
                </div>
        </div>
        <div class='col-md-6 col-12'>
            <div class='row'>
                {% for sex in info.sex %}
                    <div class='col-7'>
                        <p>{{ sex[0] }}:</p>
                    </div>
                    <div class='col-5 text-right'>
                        <p>{{ sex[1] }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class='col-12'>
            <div id='age_graph' class='mb-4'>
            </div>
        </div>
        <script>
            var container = document.getElementById('age_graph');
            var layout = {
                barmode: 'stack',
                plot_bgcolor: 'rgba(0, 0, 0, 0)',
                paper_bgcolor: 'rgba(0, 0, 0, 0)',
                height: 300,
                margin: {
                    't': 30,
                    'b': 30
                },
                font: {
                    color: 'white'
                },
                yaxis:{
                    title:{
                        text: 'Fjöldi'
                    },
                    tick0: 0,
                    dtick: 1,
                    tickwidth: 8,
                    tickcolor: '#0000',
                    gridcolor: '#444'
                },
                xaxis: {
                    title:{
                        text: 'Aldur umsækjenda'
                    }
                }
            };
            var config = {
                responsive: true
            }
            var data = [
                {% for trace in info.traces %}
                {
                    x: {{ trace.x }},
                    y: {{ trace.y }},
                    name: '{{ trace.name }}',
                    fill: 'tonexty',
                    type: 'bar',
                },
                {% endfor %}
            ];
            Plotly.newPlot(container, data, layout, config);
        </script>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Umsóknir</h3>
        </div>
        <div class='col-12'>
            {% if posting.applications %}
                {% with applications=posting.applications %}
                    {% include 'application_table.jinja'%}
                {% endwith %}
            {% else %}
                {{macros.no_results("Engar Umsóknir",
                    "Engar umsóknir fundust fyrir þessa auglýsingu.",
                    icon="question-circle", type="secondary")}}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block modals %}
    {% include 'modals/delete_posting.jinja' %}
{% endblock %}
{% block scripts %}
    {{super()}}
{% endblock %}