env/
py38/
data/
data_old/
data_backup/
migrations_old/
temp/
zips/
videos/
records/
tokens/
wav_audio/
logs/[^\.]*
.vscode/
.idea/
__pycache__/
settings/production.py
*.sql
settings/semi_production.py
gunicorn.log
gunicorn.log.old
semi_prod.sh
tmux_session.sh
