env/
py38/
data/

logs/[^\.]*
.vscode/
.idea/
__pycache__/
*.sql
gunicorn.log
gunicorn.log.old
semi_prod.sh
tmux_session.sh
.DS_Store
.idea/

lobe/settings/my_development.py
lobe/settings/production.py
