{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>{{user.name if user.name != None else 'Ekki skráð'}}</h1>
            <p>{{user.email}}</p>
            <p>UUID: {{user.uuid}}</p>
            {% if current_user.is_admin() %}
                <button type='button' class='btn btn-sm btn-secondary float-right text-warning dropdown-toggle' data-toggle='dropdown'>
                    {{macros.btn_icon('edit', 'r')}}
                    Breyta
                </button>
                <div class='dropdown-menu'>
                    <a href="{{url_for('user.user_edit', id=user.id)}}" class='dropdown-item'>
                        {{macros.btn_icon('edit', 'r')}}
                        Breyta notanda
                    </a>
                    <a href="{{url_for('user.user_toggle_admin', id=user.id)}}" class='dropdown-item text-warning'>
                        {{macros.btn_icon('key', 'r')}}
                        {% if user.is_admin() %}
                            Gera að notanda
                        {% else %}
                            Gera að vefstjóra
                        {% endif %}
                    </a>
                    {% if not user.is_verifier() %}
                        <a href="{{url_for('user.user_make_verifier', id=user.id)}}" class='dropdown-item text-warning'>
                            {{macros.btn_icon('key', 'r')}}
                            Gera að greinanda
                        </a>
                    {% endif %}
                </div>
                <button type='button' data-toggle='modal', data-target='#deleteModal' class='btn btn-sm btn-secondary text-danger float-right mr-2'>
                    {{macros.btn_icon('trash', 'r')}}
                    Eyða notanda
                </button>
            {% endif %}
            <a href="{{url_for('user.user_time_info', id=user.id)}}" class='btn btn-sm btn-secondary text-success float-right mr-2'>
                Tímaskýrsla
                {{macros.btn_icon('clock', 'l')}}
            </a>

        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Upptökur</h3>
        </div>
        <div class='col-12'>
            {% if recordings.total > 0 %}
                {% with recordings=recordings.items %}
                    {% include 'recording_table.jinja'%}
                {% endwith %}
            {% else %}
                <div class='jumbotron'>
                    <h3 class='font-weight-bold'>
                        <span class='text-warning'>
                            <i class='fa fa-exclamation-triangle'></i>
                        </span>
                        Engar upptökur
                    </h3>
                </div>
            {% endif %}
        </div>
    </div>
    {% if recordings.total > 0 %}
        <div class='row mt-3'>
            <div class='col-12'>
                {{macros.pagination(recordings, url_for("user.user_detail", id=user.id))}}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal fade" id='deleteModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða söfnun!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                Með því að eyða notanda eyðast allar safnanir sem notandi er skráður sem
                rödd fyrir. Þetta inniheldur allar upptökur og allar setningar sem eru skráðar
                á eftirfarandi safnanir:
                <br><br>
                <ul>
                    {% for collection in user.assigned_collections %}
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('collection.collection_detail', id=collection.id)}}">{{collection.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
                <br><br>
                Ertu viss um að þú viljir eyða þessum notanda?
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a href='{{url_for("user.delete_user", id=user.id)}}' class='btn btn-danger'>
                    Eyða
                    <span class='ml-1'><i class='fa fa-trash'></i></span>
                </a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}