{% extends "lists/_list.jinja" %}
{% block title %}Lotur{% endblock %}
{% block total %}{{sessions.total}}{% endblock %}
{% block table %}
    {% if sessions.total > 0 %}
        {% with sessions=sessions.items %}
            {% include 'tables/sessions.jinja'%}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if sessions.total > 0 %}
        {{macros.pagination(sessions, url_for('rec_session_list'))}}
    {% endif %}
{% endblock %}

{% block no_results %}
    {% if sessions.total == 0 %}
        {{macros.no_results("Engar lotur",
            "Til að sjá lotur þarf fyrst að taka upp lotur.",
            url_for('create_collection'),
            "Safnanir")}}
    {% endif %}
{% endblock %}