{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>{{collection.name}}
                {% if collection.is_dev %}
                    <code>DEV</code>
                {% endif %}
                {% if collection.is_multi_speaker %}
                    <code class="text-info h3">MULTI</code>
                {% endif %}
                {% if collection.verify %}
                    <code class="text-warning h3">VERIFY</code>
                {% endif %}
            </h1>
            {% if collection.has_assigned_user() %}
                <h3 class='font-weight-bold'>Rödd: {{collection.get_assigned_user()}}</h3>
            {% endif %}
        </div>
        <div class='col-md-6 col-12'>
            <div class='row'>
                <div class='col-7'>
                    <p>Stofnuð þann:</p>
                </div>
                <div class='col-5 text-right'>
                    <p>{{collection.created_at | datetime(format='low')}}</p>
                </div>
                <div class='col-7'>
                    <p>Búið að taka upp:</p>
                </div>
                <div class='col-5 text-right'>
                    {% if collection.is_multi_speaker %}
                        <p>{{collection.number_of_recordings}}</p>
                    {% else %}
                        <p>{{collection.num_tokens - collection.num_nonrecorded_tokens}} af {{collection.num_tokens}}</p>
                    {% endif %}
                </div>
                <div class='col-7'>
                    <p>Klukkutímar kláraðir:</p>
                </div>
                <div class='col-5 text-right'>
                    <p>{{collection.estimate_hours()}} klst</p>
                </div>
            </div>
        </div>
        <div class='col-md-6 col-12'>
            <div class='row'>
                <div class='col-8'>
                    <p>Söfnun raðað eftir:</p>
                </div>
                <div class='col-4 text-right'>
                    <code>
                        {% if collection.sort_by %}
                            {{collection.sort_by}}
                        {% else %}
                            Sjálfgefin röðun
                        {% endif %}
                    </code>
                </div>
            </div>
            <div class='row'>
                <div class='col-4'>
                    <p>Tegund:</p>
                </div>
                <div class='col-8 text-right'>
                    <code>{%if collection.configuration.has_video %}{{macros.btn_icon('video', 'r')}} Myndbandssöfnun
                    {% else %}{{macros.btn_icon('microphone', 'r')}} Hljóðsöfnun{% endif %}
                    </code>
                </div>
                <div class='col-4'>
                    <p>Stillingar:</p>
                </div>
                <div class='col-8 text-right'>
                    <code>{% if collection.configuration %}{{collection.configuration.printable_name}}{% else %}Ekki stillt{% endif %}</code>
                </div>
            </div>
        </div>
        <div class='col-12'>
            <div class="progress mb-3">
                {% if collection.is_multi_speaker %}
                    <div class="progress-bar bg-info" role="progressbar" style="width:{{collection.get_complete_ratio(as_percent=True)}}%"></div>
                {% else %}
                    <div class="progress-bar bg-success" role="progressbar" style="width:{{collection.get_complete_ratio(as_percent=True)}}%"></div>
                {% endif %}
                <div class="progress-bar bg-warning" role="progressbar" style="width:{{collection.get_invalid_ratio(as_percent=True)}}%"></div>
            </div>
            <button class='btn btn-sm btn-secondary text-success float-right mb-2 ml-2', data-toggle='modal', data-target='#confirmModal'>
                {{macros.btn_icon('microphone', 'r')}}
                Taka upp
            </button>
            <a href='{{url_for("collection.collection_sessions", id=collection.id)}}' class='btn btn-sm btn-secondary float-right mb-2 ml-2'>
                {{macros.btn_icon('arrow-right', 'r')}}
                Lotur
            </a>
            {% if current_user.is_admin() %}
                <div class='btn-group float-right'>
                    <button type='button' class='btn btn-sm btn-secondary float-right dropdown-toggle' data-toggle='dropdown'>
                        {{macros.btn_icon('download', 'r')}}
                        Sækja
                    </button>
                    <div class='dropdown-menu'>
                        <button class="dropdown-item" type="button" data-toggle='modal', data-target='#downloadModal'>
                            Sækja söfnun
                        </button>
                        <a href="{{url_for('collection.download_collection_info', id=collection.id)}}" class='dropdown-item'>Sækja upplýsingaskjal</a>
                    </div>
                </div>
                <div class='btn-group float-right'>
                    <button type='button' class='btn btn-sm btn-secondary float-right text-warning dropdown-toggle mr-2' data-toggle='dropdown'>
                        {{macros.btn_icon('edit', 'r')}}
                        Breyta
                    </button>
                    <div class='dropdown-menu'>
                        <a href='{{collection.get_edit_url()}}' class='dropdown-item'>
                            {{macros.btn_icon("database", "r")}}
                            Breyta söfnun
                        </a>
                        <a href='{{collection.configuration.edit_url}}' class='dropdown-item'>
                            {{macros.btn_icon("cog", "r")}}
                            Breyta stillingum
                        </a>
                        <button type='button' class='dropdown-item text-warning' data-toggle='modal', data-target='#trimModal'>
                            {{macros.btn_icon("cut", "r")}}
                            Klippa söfnun
                        </button>
                        <button type='button' class='dropdown-item text-danger' data-toggle='modal', data-target='#deleteModal'>
                            {{macros.btn_icon("times", "r")}}
                            Eyða söfnun
                        </button>
                        {% if collection.has_zip %}
                            <button type='button' class='dropdown-item text-danger' data-toggle='modal', data-target='#deleteArchiveModal'>
                                {{macros.btn_icon("times", "r")}}
                                Eyða skjalasafni
                            </button>
                        {% endif %}
                        <div class='dropdown-divider'></div>
                        <button type='button' class='dropdown-item' data-toggle='modal', data-target='#addTokensModal'>
                            {{macros.btn_icon("plus", "r")}}
                            Bæta við setningum
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if collection.is_multi_speaker %}
        <div class="wrapper">
            <div style="background-color: #303030; padding-left: 8px; cursor: pointer;" data-toggle="collapse" data-target="#collapse-users" aria-expanded="false" aria-controls="collapse-users" style="cursor: pointer;">
                <p class="py-2 text-success"><i class="fas fa-plus mr-2" aria-hidden="true"></i> Notendur</p>
            </div>
            <div class="collapse" id="collapse-users">
                {% if recorded_users|length > 0 %}
                    {% with recorded_users=recorded_users %}
                        {% include 'collection_users_table.jinja'%}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    {% endif%}

    {% if tokens.total > 0 %}
        <div class='row mt-2'>
            <div class='col-12'>
                <h3 class='font-weight-bold'>Textar</h3>
            </div>
            <div class='col-12'>
                {% with tokens=tokens.items, number_of_users=collection.number_of_users, collection=collection%}
                    {% if collection.is_multi_speaker%}
                        {% include 'collection_token_table.jinja'%}
                    {% else %}
                        {% include 'token_table.jinja'%}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class='row mt-3'>
            <div class='col-12'>
                {{macros.pagination(tokens, url_for("collection.collection_detail", id=collection.id))}}
            </div>
        </div>
    {% else %}
        <div class='row mt-4'>
            <div class='col-12'>
                {{macros.no_results("Engar setningar",
                    "Byrjaðu á að bæta við setningum í söfnunina með því að smella á breyta hér fyrir ofan")}}

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal fade" id='trimModal' tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Klippa upptökur í söfnun</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Það eru þrír valmöguleikar:</p>
                    <ul>
                        <li>Óklipptar: klippir bara upptökur sem er ekki búið að klippa</li>
                        <li>Allar: klippir allar upptökur</li>
                        <li>Endurræsa: Fjarlægir klippingar af öllum upptökum</li>
                    </ul>
                    <p>
                        Þagnarþröskuldurinn úr stillingum er notaður til að klippa setningarnar.
                        Fyrir þessa söfnun er þröskuldurinn {{collection.configuration.trim_threshold}} dB.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type='button' class='btn btn-sm btn-success float-right dropdown-toggle' data-toggle='dropdown'>
                        Veljið
                    </button>
                    <div class='dropdown-menu'>
                        <a href='{{collection.get_trim_url(0)}}' class='dropdown-item'>
                            Óklipptar
                        </a>
                        <a href='{{collection.get_trim_url(1)}}' class='dropdown-item'>
                            Allar
                        </a>
                        <a href='{{collection.get_trim_url(2)}}' class='dropdown-item'>
                            Endurræsa
                        </a>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id='addTokensModal' tabindex="-1">
        <form method='POST' enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bæta við textum</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Veljið eitt eða fleiri skjöl hér að neðan. Textaskjal sem inniheldur fleiri en eina línu er túlkað
                        sem margir textabútar og textaskjölin vistast sem slík (5 línur í textaskrá samsvarar 5 textum til dæmis).

                        G2P skjal þarf að vera að vera tab-seperated listi af setningum þannig að hver lína inniheldur
                        <ul class="list-group">
                            <li class="list-group-item">Sjálfa setninguna</li>
                            <li class="list-group-item">Uppruna setningar (t.d. "risamálheild")</li>
                            <li class="list-group-item">Röðunarstuðul (einhver fleytitala, hærri því fyrr birtist setningin)</li>
                            <li class="list-group-item">Framburð (t.d. "~ uː t s m ɔi j ɪ n ~")</li>
                        </ul>
                    </p>
                    {% with form=token_form %}
                        {% include 'forms/_form.jinja' %}
                    {% endwith %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                    <button class='btn btn-primary' type='submit'>
                        Klára
                        <span class='ml-1'><i class='fa fa-check'></i></span>
                    </button>
                </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id='deleteArchiveModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða skjalasafni!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ertu viss um að þú viljir eyða þessu skjalasafni?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a href='{{url_for("collection.delete_collection_archive", id=collection.id)}}' class='btn btn-danger'>
                    Eyða
                    {{macros.btn_icon('times', 'l')}}
                </a>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id='deleteModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða söfnun!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                Með því að eyða söfnun eyðast allar upptökur og allar setningar
                sem settar hafa verið inn fyrir söfnunina: {{collection.name}}.
                <br><br>
                Þessi söfnun hefur {{collection.num_tokens}} setningar og búið er
                að taka upp {{collection.get_complete_ratio(as_percent=True)}}% af þeim.
                <br><br>
                Ertu viss um að þú viljir eyða þessari söfnun?
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a href='{{url_for("collection.delete_collection", id=collection.id)}}' class='btn btn-danger'>
                    Eyða
                    {{macros.btn_icon('times', 'l')}}
                </a>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id='downloadModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sækja söfnun</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if collection.has_zip %}
                    <p class='font-weight-bold'>
                        Búið er að útbúa skjalasafn fyrir þessa söfnun
                    </p>
                    <p>
                        Skjalasafnið var gert þegar búið var að lesa {{collection.zip_token_count}} setningar.
                        Núna er búið að lesa {{collection.num_tokens - collection.num_nonrecorded_tokens}} setningar.
                        Þú getur annað hvort búið til nýtt skjalasafn eða náð í það nýjasta.
                    </p>
                {% else %}
                    <p class='font-weight-bold'>
                        Ekki er búið að útbúa skjalasafn
                    </p>
                    <p>
                        Til að ná í söfnun þarf fyrst að útbúa skjalasafn. Þegar skjalasafnið er tilbúið birtist
                        það <a target="_blank" rel="noopener noreferrer" href='{{url_for("collection.collection_zip_list")}}'>hér</a>.
                        Athugið að það getur tekið allt að 10 mínútur að útbúa skjalasafnið.
                    </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if collection.has_zip %}
                    <a href='{{url_for("collection.stream_collection_zip", id=collection.id)}}' class='btn btn-primary'>
                        Sækja söfnun
                        {{macros.btn_icon('download', 'r')}}
                    </a>
                {% endif %}
                <a href='{{url_for("collection.generate_zip", id=collection.id)}}' class='btn btn-secondary'>
                    Gera skjalasafn
                    {{macros.btn_icon('archive', 'r')}}
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
            </div>
            </div>
        </div>
    </div>
    {% include 'modals/user_confirm.jinja' %}
{% endblock %}
{% block scripts %}
    {{super()}}
    <script>
        $('#files').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        });

        $(document).ready(function () {
            $('.collapse')
                .on('shown.bs.collapse', function() {
                    $(this)
                        .parent()
                        .find(".fa-plus")
                        .removeClass("fa-plus")
                        .addClass("fa-minus");
                })
                .on('hidden.bs.collapse', function() {
                    $(this)
                        .parent()
                        .find(".fa-minus")
                        .removeClass("fa-minus")
                        .addClass("fa-plus");
                });
        });
    </script>
{% endblock %}