{% extends "_list.jinja" %}
{% block title %}Greiningar{% endblock %}
{% block total %}{{verifications.total}}{% endblock %}
{% block buttons %}
    <a class='btn btn-secondary float-right mr-2' href='{{url_for("verification.verify_index")}}'>
        {{macros.btn_icon('home', 'r')}}
        Upphafsskjár greinara
    </a>
    <a class='btn btn-secondary float-right mr-2'
        href='{{url_for("verification.download_verifications")}}'
        target='_blank'
        download='verifications.txt'>
        {{macros.btn_icon('download', 'r')}}
        Hlaða niður
    </a>
    <a class='btn btn-secondary float-right mr-2' href='{{url_for("verification.verify_stats")}}'>
        {{macros.btn_icon('poll', 'r')}}
        Tölfræði
    </a>
{% endblock %}
{% block table %}
    {% if verifications.total > 0 %}
        {% with verifications=verifications.items %}
            {% include 'verification_table.jinja'%}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if verifications.total > 0 %}
        {{macros.pagination(verifications, url_for('verification.verification_list'))}}
    {% endif %}
{% endblock %}

{% block no_results %}
    {% if verifications.total == 0 %}
        {{macros.no_results("Engar greiningar",
            "Til að sjá greiningar þarf að hefja greiningu",
            url_for('verification.verify_index'),
            "Greiningarsíða")}}
    {% endif %}
{% endblock %}