{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Greining : {{verification.printable_id}}</h3>
            <p class='font-weight-bold mb-0'>Greint af {{verification.verifier.name}}</p>
            <p>{{verification.created_at | datetime(format='low')}}</p>
            <a href="{{verification.recording.get_url()}}" class='btn btn-sm btn-secondary text-success float-right'>
                Upptaka
                {{macros.btn_icon('arrow-right', 'l')}}
            </a>
            <a href="{{verification.recording.token.get_url()}}" class='btn btn-sm btn-secondary text-success float-right mr-2'>
                Texti
                {{macros.btn_icon('arrow-right', 'l')}}
            </a>
            <form id='deleteVerificationForm' action="{{url_for('verification.delete_verification')}}">
                {{ delete_form.verification_id }}
                <button type='button' id='deleteVerification' class='btn btn-danger btn-sm float-right mr-2'>
                    <span class='ml-1 font-weight-bold'>Eyða greiningu</span>
                    <i class='fa fa-trash ml-1 mr-1'></i>
                </button>
            </form>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            {% if verification.recording_is_good %}
                <p class='font-weight-bold text-success'>
                    Upptaka er góð
                    <i class='fa fa-thumbs-up ml-2'></i>
                </p>
            {% else %}
                <p class='font-weight-bold text-danger'>
                    Upptaka er slæm
                    <i class='fa fa-thumbs-down ml-2'></i>
                </p>
            {% endif %}
        </div>
        <div class='col-12'>
            <p>
                <span class='font-weight-bold mr-2'>Athugasemd:</span>
                {% if verification.comment %}
                    {{verification.comment}}
                {% else %}
                    Engin athugasemd
                {% endif %}
            </p>
        </div>
        <div class='col-md-6 col-12'>
            <span>Hljóðstyrkur:</span>
            <span class='font-weight-bold float-right'>
                {% if verification.volume_is_low %}
                    of hár
                    <i class='fa fa-times text-danger ml-2'></i>
                {% elif verification.volume_is_high %}
                    of lár
                    <i class='fa fa-times text-danger ml-2'></i>
                {% else %}
                    réttur
                    <i class='fa fa-check text-success ml-2'></i>
                {% endif %}
            </span>
        </div>
        <div class='col-md-6 col-12'>
            <span>Gæði lesturs:</span>
            <span class='font-weight-bold float-right'>
                {% if verification.recording_has_wrong_wording %}
                    rangt lesinn
                    <i class='fa fa-times text-danger ml-2'></i>
                {% else %}
                    rétt lesinn
                    <i class='fa fa-check text-success ml-2'></i>
                {% endif %}
            </span>
        </div>
        <div class='col-md-6 col-12'>
            <span>Gæði upptöku:</span>
            <span class='font-weight-bold float-right'>
                {% if verification.recording_has_glitch %}
                    villa í upptöku
                    <i class='fa fa-times text-danger ml-2'></i>
                {% else %}
                    upptaka er góð
                    <i class='fa fa-check text-success ml-2'></i>
                {% endif %}
            </span>
        </div>
    </div>
    <div class='row mt-3'>
        <div class='col-12'>
            <p><span class='font-weight-bold'>Texti lesinn:</span> <span class='font-italic'>{{verification.recording.token.text}}</span></p>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <div id='recordingCard' class='card mt-2'>
                <div class='card-body'>
                    <div id="waveform"></div>
                </div>
                <ul class='list-group list-group-flush'>
                    <li class='list-group-item'>
                        <code>{{verification.recording.fname}}</code>
                        <div class='btn-group float-right' role='group'>
                            <button id='play' type='button' class='btn btn-secondary btn-sm'>
                                <i id='playButtonIcon' class='fa fa-play'></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://unpkg.com/wavesurfer.js@5.0.1/dist/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js@5.0.1/dist/plugin/wavesurfer.regions.min.js"></script>
    <script src='{{url_for("recording.static", filename="js/surf.js")}}'></script>
    <script src='{{url_for("main.static", filename="js/error.js")}}'></script>
    <script>
        const playButtonIcon = document.querySelector('#playButtonIcon');
        let wavesurfer = createSimpleWaveSurfer('#waveform', false, playButtonIcon);
        wavesurfer.load("{{verification.recording.get_download_url()}}");
        {% for trim in verification.trims %}
            wavesurfer.addRegion({
                color: "rgba(243, 156, 18, 0.1)",
                start: {{trim.start}},
                end: {{trim.end}}});
        {% endfor %}

        document.querySelector('button#play').addEventListener('click', function(){
            playSelections();
        });

        playSelections = () => {
            const playlist = getTrimPlayList();
            wavesurfer.on('pause', () => {
              if(playlist.length > 1){
                playlist.shift()
                wavesurfer.play(playlist[0].start, playlist[0].end)
              } else if (playlist.length === 1) {
                wavesurfer.stop()
              }
            })
            wavesurfer.play(playlist[0].start, playlist[0].end);
        }

        function getTrimPlayList(){
            const playlist = Object.values(wavesurfer.regions.list)
            playlist.sort((a, b) => (a.start > b.start) ? 1 : -1)
            return playlist;
        }

        document.querySelector('button#deleteVerification').addEventListener('click', function(e){
            e.preventDefault();
            document.querySelector('button#deleteVerification').disabled = true;
            postDeleteForm();
        })

        function postDeleteForm() {
            var xhr = new XMLHttpRequest();
            xhr.onload = function(e) {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status == '200'){
                        window.location.href = "{{url_for('verification.verification_list')}}";
                    } else{
                        promptError("Villa koma upp:", xhr.responseText, "");
                    }
                }
            };

            let form = document.querySelector("#deleteVerificationForm");
            form.querySelector("input[name=verification_id]").value = {{verification.id}};
            let formData = new FormData(form);
            xhr.open("POST", form.action, true);
            xhr.send(formData);

        }

    </script>

{% endblock %}