<div class="w-100 bg-secondary mb-5 d-none d-lg-block">
    <div class='container bg-dark'>
        <div class="row py-2 bg-dark">
            <div class='col-1 my-auto'>
                {% if post.user.progression.equipped_icon.title %}
                    {{macros.verifier_icon(post.user.progression.equipped_icon.fa_id, post.user.progression.equipped_icon.color, '2x')}}
                {% else %}
                    {{macros.verifier_icon('fa fa-post.user', '#fff', '2x')}}
                {% endif %}
            </div>
            <div class="col-7 flex flex-column">
                <p class='mb-0'>
                    <a href="#" data-toggle="modal" data-target="#userModal-{{post.user.id}}">
                        {{post.user.progression.equipped_title.title}}
                        {{post.user.name}}
                    </a>
                </p>
                <p class='mb-0'>
                    <small class='font-italic'>
                        {% if post.user.progression.equipped_quote.quote %}
                            {{post.user.progression.equipped_quote.quote}}
                        {% else %}
                            Ég var að byrja að greina!
                        {% endif %}
                    </small>
                </p>
            </div>
            <div class="col-4 flex flex-column w-100">
                <div class="border border-danger rounded-pill ml-auto" style='width:30%'>
                    <p class="text-center m-auto">
                        {{post.total_awards}}
                    </p>
                </div> 
                <div class="ml-auto my-1">
                    <p class="text-right m-auto">
                        {{post.created_at | datetime(format='medium')}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex flex-row py-2 ml-3">
        {% if not post.link %}
        <div class="w-10 border-right border-dark mr-3">
            <audio id="audio-{{post.recording.id}}" src={{post.recording.get_download_url()}} type="audio/wav"></audio>
            <button type='button' class='btn btn-link btn-sm' onClick="play({{post.recording.id}})">
                <i id='playButtonIcon-{{post.recording.id}}' class='fa fa-play'></i>
            </button>
        </div>
        <div class="w-80 my-auto">
            {{post.recording.token_text}}
        </div>
        {% elif post.link%}
            <div class="embed-responsive embed-responsive-16by9" style="width: 95%">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{post.link}}?rel=0" allowfullscreen></iframe>
            </div>
        {% endif%}
    </div>
    <div class="w-100 border-top border-dark py-2 pl-3">
        <a href="{{url_for('feed.basic_award_post', post_id=post.id)}}" class='btn btn-dark rounded-pill text-warning'>
            Verðlaun
            <i class="text-danger fas fa-gem ml-2"></i>
            {{social_prices['like']}}
        </a>
        <a href="{{url_for('feed.super_award_post', post_id=post.id)}}" class='btn btn-dark rounded-pill text-warning'>
            Ofur veðlaun
            <i class="text-danger fas fa-gem ml-2"></i>
            {{social_prices['super_like']}}
        </a>
        {% if current_user.id == post.user.id or current_user.is_admin()%}
            <div class="float-right pr-3">
                <a class="text-center m-auto btn btn-secondary text-danger" href="{{url_for('feed.delete_social_post', post_id=post.id)}}">
                    {{macros.btn_icon('trash', 'r')}} Eyða
                </a>
            </div> 
        {% endif %}
    </div>
    <div class="w-100">
    </div>
</div>

<!-- small screen -->

<div class="w-100 bg-secondary mb-5 d-lg-none">
    <div class='container bg-dark'>
        <div class="row py-2 bg-dark">
            <div class='col-1 my-auto'>
                {% if post.user.progression.equipped_icon.title %}
                    {{macros.verifier_icon(post.user.progression.equipped_icon.fa_id, post.user.progression.equipped_icon.color, '2x')}}
                {% else %}
                    {{macros.verifier_icon('fa fa-post.user', '#fff', '2x')}}
                {% endif %}
            </div>
            <div class="col-6 flex flex-column">
                <p class='mb-0'>
                    <a href="#" data-toggle="modal" data-target="#userModal-{{post.user.id}}">
                        {{post.user.progression.equipped_title.title}}
                        {{post.user.name}}
                    </a>
                </p>
                <p class='mb-0'>
                    <small class='font-italic'>
                        {% if post.user.progression.equipped_quote.quote %}
                            {{post.user.progression.equipped_quote.quote}}
                        {% else %}
                            Ég var að byrja að greina!
                        {% endif %}
                    </small>
                </p>
            </div>
            <div class="col-4 flex flex-column w-100">
                <div class="border border-danger rounded-pill ml-auto" style='width:60%'>
                    <p class="text-center m-auto">
                        {{post.total_awards}}
                    </p>
                </div> 
                <div class="ml-auto my-1">
                    <p class="text-right m-auto">
                        {{post.created_at | datetime(format='low')}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex flex-row py-2 ml-3">
        {% if not post.link %}
        <div class="w-10 border-right border-dark mr-3">
            <audio id="audio-{{post.recording.id}}" src={{post.recording.get_download_url()}} type="audio/wav"></audio>
            <button type='button' class='btn btn-link btn-sm' onClick="play({{post.recording.id}})">
                <i id='playButtonIcon-{{post.recording.id}}' class='fa fa-play'></i>
            </button>
        </div>
        <div class="w-80 my-auto">
            {{post.recording.token_text}}
        </div>
        {% elif post.link%}
            <div class="embed-responsive embed-responsive-16by9 mr-4" style="width: 95%">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{post.link}}?rel=0" allowfullscreen></iframe>
            </div>
        {% endif%}
    </div>
    <div class="w-100 border-top border-dark py-2 pl-3">
        <a href="{{url_for('feed.basic_award_post', post_id=post.id)}}" class='btn btn-dark rounded-pill text-warning'>
            <i class="text-danger fas fa-gem ml-2"></i>
            {{social_prices['like']}}
        </a>
        <a href="{{url_for('feed.super_award_post', post_id=post.id)}}" class='btn btn-dark rounded-pill text-warning'>
            <i class="text-danger fas fa-gem ml-2"></i>
            {{social_prices['super_like']}}
        </a>
        {% if current_user.id == post.user.id or current_user.is_admin()%}
            <div class="float-right pr-3">
                <a class="text-center m-auto btn btn-secondary text-danger" href="{{url_for('feed.delete_social_post', post_id=post.id)}}">
                    {{macros.btn_icon('trash', 'r')}} Eyða
                </a>
            </div> 
        {% endif %}
    </div>
    <div class="w-100">
    </div>
</div>