<div class='card' style='width:100%'>
    {% if type == 'streak' %}
        <div class='card-header bg-danger'>
            Ekki byrjað.
        </div>
    {% endif %}
    <div class='card-body d-flex justify-content-between flex-column'>
        <div>
            {% if level < category.items()|length %}
                <p class='text-center'><i class='fa {{category[level|string].fa_id}} fa-5x text-{{color}}'></i></p>
                <h5 class='card-title text-center'>{{category[level|string].title}}</h5>
                {% if type == 'verification' %}
                    <p class='card-text text-center'>Kláraðu {{category[level|string].goal}} greiningar til að fá:</p>
                {% elif type == 'spy' %}
                    <p class='card-text text-center'>Finndu {{category[level|string].goal}} slæmar upptökur til að fá:</p>
                {% elif type == 'streak' %}
                    <p class='card-text text-center'>Greindu {{config.ECONOMY.achievements.streak_minimum}} lotur á dag í {{category[level|string].goal}} daga til að fá:</p>
                {% endif %}
            {% else %}
                <p class='text-center'><i class='fa fa-check fa-5x text-{{color}}'></i></p>
                <h5 class='card-title text-center'>Leiðarendi</h5>
                <p class='card-text text-center'>Þú hefur klárað öll afrek í þessum flokk.</p>
            {% endif %}
        </div>
        <div>
            {% if level < category.items()|length %}
                <p class='text-center mb-2 mt-3'>
                    <span class='text-warning mr-4'>
                        {{category[level|string].coin_reward}}
                        <i class='fa fa-coins ml-1'></i>
                    </span>
                    <span style="color: {{config.COLORS.diamond}}">
                        {{category[level|string].experience_reward}}
                        <i class='fa fa-gem ml-1'></i>
                    </span>
                </p>
            {% endif %}
            <p class='text-center'>
                {% for key, _ in category.items() %}
                    {% if level > key|int %}
                        <i class='fa fa-circle'></i>
                    {% else %}
                        <i class='far fa-circle'></i>
                    {% endif %}
                {% endfor %}
            </p>
            <div class="progress mt-2">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%;"></div>
            </div>
        </div>
    </div>
</div>