{% if type == "Lootbox"%}
    <p>Slembikassar eru ekki virkir</p>
{% else %}
    <!--Large screen Carousel Wrapper-->
    <div id="{{type}}-carousel-large" class="carousel slide carousel-multi-item d-lg-block d-none" style="margin-bottom:40px" data-interval="false" data-ride='carousel'>

        <div class="row justify-content-md-center">
            <div class="col-1 align-self-center">
                <a href="#{{type}}-carousel-large" data-slide="prev"><i class="fas fa-chevron-left fa-2x"></i></a>
            </div>
            <div class="carousel-inner col-10" role="listbox">
                {% for item_set in items | batch(3, none) %}
                    <div class="carousel-item {% if loop.index0==0 %}active{% endif %}">
                        <div class='row'>
                            {% for item in item_set %}
                                {% if item is not none%}
                                    <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
                                        {% if type == "Icons"%}
                                            {{macros.icon_card(item, false, current_user)}}
                                        {% elif type == "Titles" %}
                                            {{macros.title_card(item, false, current_user)}}
                                        {% elif type == "Slogans" %}
                                            {{macros.slogan_card(item, false, current_user)}}
                                        {% elif type == "Lootbox" %}
                                            {{macros.loot_card(item, current_user)}}
                                        {% elif type == "Font" %}
                                            {{macros.font_card(item, current_user)}}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-1 align-self-center">
                <a class="float-right" href="#{{type}}-carousel-large" data-slide="next"><i class="fas fa-chevron-right fa-2x"></i></a>
            </div>

        </div>
        <!--Indicators-->
        <ol class="carousel-indicators">
            {% for item in items | batch(4, none) %}
                <li data-target="#{{type}}-carousel-large" data-slide-to="{{loop.index0}}" class="{% if loop.index0 == 0 %}active{% endif%}"></li>
            {% endfor %}
        </ol>
    </div>


    <!--Small screen Carousel wrapper-->

    <div id="{{type}}-carousel-small" class="carousel slide carousel-multi-item d-sm-block d-lg-none" style="margin-bottom:30px" data-interval="false">

        <div class="row justify-content-md-center">
            <div class="col-1 align-self-center">
                <a href="#{{type}}-carousel-small" data-slide="prev"><i class="fas fa-chevron-left fa-2x"></i></a>
            </div>
            <div class="carousel-inner col-10" role="listbox" >
                {% for item_set in items | batch(1, '&nbsp;') %}
                    <div class="carousel-item {% if loop.index0==0 %}active{% endif %}">
                        {% for item in item_set %}
                            <div class="col-12 col-md-8 offset-md-2" style="float:left">
                                {% if type == "Icons"%}
                                    {{macros.icon_card(item, false, current_user)}}
                                {% elif type == "Titles" %}
                                    {{macros.title_card(item, false, current_user)}}
                                {% elif type == "Slogans" %}
                                    {{macros.slogan_card(item, false, current_user)}}
                                {% elif type == "Lootbox" %}
                                    {{macros.loot_card(item, current_user)}}
                                {% elif type == 'Font' %}
                                    {{macros.font_card(item, current_user)}}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-1 align-self-center">
                <a class="float-right" href="#{{type}}-carousel-small" data-slide="next"><i class="fas fa-chevron-right fa-2x"></i></a>
            </div>

        </div>
        <!--Indicators-->
        <ol class="carousel-indicators">
            {% for item in items %}
                <li data-target="#{{type}}-carousel-small" data-slide-to="{{loop.index0}}" class="{%if loop.index0 == 0%}active{% endif%}"></li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
