<div class="modal fade" id='confirmModal' tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Staðfesta rödd</h5>
            <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% if collection.has_assigned_user() %}
                Aðeins <b>{{collection.get_assigned_user() }}</b> getur tekið upp fyrir þessa söfnun.
                Vinsamlega staðfestið að <b>{{collection.get_assigned_user()}}</b> sé við upptökur.
            {% else %}
                Vinsamlega veljið rödd sem er við upptökur til að halda áfram.
                <select id="voiceSelect" class="form-control" onchange="selectVoice()">
                    <option value='id'>Rödd</option>
                    {% for user in users %}
                        <option value="{{user.id}}">{{user.name}}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
            {% if collection.has_assigned_user() %}
                <a href='{{url_for("recording.record_session", collection_id=collection.id)}}?user_id={{collection.assigned_user_id}}'
                    class='btn btn-success'>
                    Taka upp
                    {{macros.btn_icon('microphone', 'l')}}
                </a>
            {% else %}
                <button type='button' id="confirmButton" class='btn btn-success' disabled>
                    Taka upp
                    {{macros.btn_icon('microphone', 'l')}}
                </button>
            {% endif %}
        </div>
        </div>
    </div>
</div>
<script>
    var selectField = document.querySelector("#voiceSelect");
    var confirmButton = document.querySelector("#confirmButton");

    function selectVoice(){

        if(selectField.value == "id"){
            confirmButton.disabled = true;
            confirmButton.onClick = "";
        } else{
            confirmButton.disabled = false;
            confirmButton.onclick = function(){
                window.location = "{{url_for('recording.record_session', collection_id=collection.id)}}?user_id="+selectField.value;
            }
        }
    }
</script>