<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>
                Auðkenni setningar
            </th>
            <th>
                Texti
            </th>
            <th>
                Meðaleinkunn
            </th>
            <th>
                <form id='deselectAllForm' method="POST" action="{{url_for('mos_select_all', id=mos.id)}}">
                    {% for f in deselectAllForm %}
                        {{f}}
                    {% endfor%}
                    <button type='submit' id='selectAll' class='btn btn-primary btn-sm float-right mr-2'>
                        <span class='ml-1 font-weight-bold'><i class="far fa-square"></i></span>
                    </button>
                </form>
                <form id='selectAllForm' method="POST" action="{{url_for('mos_select_all', id=mos.id)}}">
                    {% for f in selectAllForm %}
                        {{f}}
                    {% endfor%}
                    <button type='submit' id='selectAll' class='btn btn-primary btn-sm float-right mr-2'>
                        <span class='ml-1 font-weight-bold'><i class="far fa-check-square"></i></span>
                    </button>
                </form>
            </th>
            <th>
            </th>
        </thead>
        <tbody>
            {% for mos in mos_list %}
                <tr>      
                    {% if mos.custom_token %}
                        <td><a href={{mos.custom_token.get_url()}} class='{% if mos.custom_token.marked_as_bad %} text-warning {% endif %}'><code>{{mos.custom_token.get_printable_id()}}</code></a></td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    
                    <td>{{mos.text}}</td>
                    <td>{{mos.average_rating}}</td>
                    <td>
                        <form class="mos-check-button" id="verificationForm" name="mos-{{mos.id}}" action="{{mos.ajax_edit_action}}" method="POST">
                            {% for field in mos.selection_form %}
                                <div class="custom-control custom-switch">
                                {% if field.name == "selected" %}
                                    {{field(checked=field.data, id="check-field", class_="")}}
                                {% endif %}
                                </div>
                            {% endfor %}
                        </form>
                    </td>
                    <td>
                        <button id="deleteButton" name="{{mos.id}}" onClick="deletebutton(name)" class="btn btn-secondary btn-sm text-danger" type="button" data-toggle='modal', data-target='#deleteModal'>
                            {{macros.btn_icon('trash', 'r')}}
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


