<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>
                Auðkenni setningar
            </th>
            <th>
                Texti
            </th>
            <th>
                MOS-Einkunn
            </th>
            <th>
                <button class="btn btn-secondary btn-sm mr-2" type="button">
                    Merkja alla
                </button>
                <button class="btn btn-secondary btn-sm mr-2" type="button">
                    Afmerkja alla
                </button>
            </th>
            <th>
            </th>
        </thead>
        <tbody>
            {% for mos in mos_list %}
                <tr>      
                    {% if mos.token %}
                        <td><a href={{mos.token.get_url()}} class='{% if mos.token.marked_as_bad %} text-warning {% endif %}'><code>{{mos.token.get_printable_id()}}</code></a></td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    
                    <td>{{mos.get_text}}</td>
                    <td>{{mos.get_rating}}</td>
                    <td>
                        <form class="mos-check-button" id="verificationForm" name="mos-{{mos.id}}" action="{{mos.ajax_edit_action}}" method="POST">
                            {% for field in mos.selection_form %}
                                <div class="custom-control custom-switch">
                                {% if field.name == "selected" %}
                                    {{field(checked=field.data, id="check-field", class_="")}}
                                    {% if isSynthTable %}
                                        Hafa talgerfingu
                                    {% else %}
                                        {{field.label(class_="mosCheckboxLabel")}}
                                    {% endif %}
                                {% endif %}
                                </div>
                            {% endfor %}
                        </form>
                    </td>
                    <td>
                        <button id="deleteButton" name="{{mos.id}}" onClick="deletebutton(name)" class="btn btn-secondary btn-sm text-danger" type="button" data-toggle='modal', data-target='#deleteModal'>
                            {{macros.btn_icon('trash', 'r')}}
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

