{% macro btn_icon(type, dir) %}
    <span class='m{{dir}}-2'>
        <i class='fa fa-{{type}}'></i>
    </span>
{% endmacro %}

{% macro sort_th_a(sort_by, url) %}
    <a href="{{url}}?sort_by={{sort_by}}&order={% if request.args.get('sort_by')==sort_by and request.args.get('order', 'desc')=='desc' %}asc{% else %}desc{% endif %}">
        {% if request.args.get('sort_by')==sort_by%}
            {% if request.args.get('order')=='asc' %}
                {{btn_icon('sort-up', '')}}
            {% else %}
                {{btn_icon('sort-down', '')}}
            {% endif %}
        {% else %}
                {{btn_icon('sort', '')}}
        {% endif %}
    </a>
{% endmacro %}

{% macro pagination(items, url) %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if items.has_prev %}
                <li class="page-item"><a class="page-link" href="{{url}}?page={{items.prev_num}}{% if request.args.get('sort_by')%}&sort_by={{request.args.get('sort_by')}}{% endif %}{% if request.args.get('order')%}&order={{request.args.get('order')}}{% endif %}">
                    {{ btn_icon('arrow-left', 'r')}}
                    Fyrri
                </a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">
                    {{ btn_icon('arrow-left', 'r')}}
                    Fyrri
                </a></li>
            {% endif %}
            <li class='page-item active'>
                <span class='page-link'>{{items.page}} af {{items.pages}}</span>
            </li>
            {% if items.has_next %}
                <li class="page-item"> <a class="page-link" href="{{url}}?page={{items.next_num}}{% if request.args.get('sort_by')%}&sort_by={{request.args.get('sort_by')}}{% endif %}{% if request.args.get('order')%}&order={{request.args.get('order')}}{% endif %}">
                    Næsta
                    {{ btn_icon('arrow-right', 'l')}}
                </a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">
                    Næsta
                    {{ btn_icon('arrow-right', 'l')}}
                </a></li>
            {% endif %}

        </ul>
    </nav>
{% endmacro %}

{% macro recording_analysis(recording) %}
        {% if recording.analysis %}
            {% if recording.analysis == 'ok' %}
                <span class='text-success'>
                    <i class='fa fa-thumbs-up mr-2'></i>
                    Góð
                </span>
            {% elif recording.analysis == 'high' %}
                <span class='text-danger'>
                    <i class='fa fa-thumbs-down mr-2'></i>
                    Of há
                </span>
            {% elif recording.analysis == 'low' %}
                <span class='text-danger'>
                    <i class='fa fa-thumbs-down mr-2'></i>
                    Of lág
                </span>
            {% endif %}
        {% else %}
            <span class='text-warning'>
                <i class='fa fa-question-circle mr-2'></i>
                Ekki greint
            </span>
        {% endif %}
{% endmacro %}

{% macro recording_verification(recording) %}
    {% if recording.is_secondarily_verified %}
        <span class='text-success'>
            <i class='fa fa-certificate mr-2'></i>
            Tvígreind
        </span>
    {% elif recording.is_verified %}
        <span class='text-success'>
            Eingreind
        </span>
    {% else %}
        <span class='text-warning'>
            <i class='fa fa-question-circle mr-2'></i>
            Engin greining
        </span>
    {% endif %}
{% endmacro %}


{% macro pron_spans(prons) %}
    {% for pron in prons %}
        <span class='mr-1 mt-1 px-2 rounded bg-secondary' style="white-space: nowrap; display:inline-block;">{{pron | safe}}</span>
    {% endfor %}
{% endmacro %}

{% macro default(val, def) %}
    {% if val %}
        {{val}}
    {% elif def %}
        {{val}}
    {% else %}
        Ekki tilgreint
    {% endif %}
{% endmacro %}

{% macro no_results(title, text, link, link_text, icon, type) %}
    <div class='jumbotron'>
        <h3 class='font-weight-bold'>
            <span class='text-{% if type %}{{type}}{% else %}warning{% endif %}'>
                <i class='fa fa-{% if icon %}{{icon}}{% else %}exclamation-triangle{% endif%}'></i>
            </span>
            {{title}}
        </h3>
        <p>{{text}}</p>
        {% if link %}
            <a href={{link}} class='btn btn-secondary text-success float-sm-right'>
                {{link_text}}
                {{btn_icon('fa fa-arrow-right', '')}}
            </a>
        {% endif %}
    </div>
{% endmacro %}


{% macro verifier_icon(classes, color, size) %}
    <i class='{{classes}} fa-{{size}}' style='color: {{color}}'></i>
{% endmacro %}

{% macro icon_card(icon, loot_display, current_user)%}
    <div class="card" style='width: 100%'>
        {% if current_user.progression.is_icon_equipped(icon) and not loot_display%}
            <div class="card-header bg-success">
                Valinn
                <a href="{{url_for('shop.icon_disable', user_id=current_user.id)}}" class='btn btn-secondary btn-sm float-right'>Taka af</a>
            </div>
        {% endif %}
        <div class="card-body d-flex justify-content-between flex-column">
            <div>
                <p class="card-title text-center font-weight-bold">{{icon.title}}</p>
                <p class='text-center'>{{verifier_icon(icon.fa_id, icon.color, '3x')}}</p>
                <p class='text-center'>{{icon.description}}</p>
            </div>
            <div>
                {% if not current_user.progression.owns_icon(icon) and not loot_display %}
                    <a href="{{url_for('shop.icon_buy', icon_id=icon.id, user_id=current_user.id)}}" class="btn btn-warning btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">{{(icon.price * (1-current_user.progression.fire_sale_discount))|int}}</span>
                        <i class="fas fa-coins mr-2"></i>
                    </a>
                {% else %}
                    {% if not current_user.progression.is_icon_equipped(icon) %}
                        <a href="{{url_for('shop.icon_equip', icon_id=icon.id, user_id=current_user.id)}}" class="btn btn-secondary text-success btn-sm rounded-pill text-center float-right">
                            <span class="mr-2 ml-2 font-weight-bold">Velja</span>
                            <i class="fas fa-check mr-2"></i>
                        </a>
                    {% endif %}
                {% endif %}

                {% if current_user.is_admin() %}
                    <a href="{{icon.edit_url}}" class="mr-1 btn btn-secondary text-warning btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">
                            <i class='fa fa-edit'></i>
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="{% if icon.rarity == 1 %}background-color: {{config.COLORS.rare}}{% elif icon.rarity==2 %}background-color: {{config.COLORS.epic}}{% elif icon.rarity==3%}background-color: {{config.COLORS.legendary}}{% else %}background-color: {{config.COLORS.common}}{% endif %}">
                <span>
                    {% if icon.rarity == 1 %}
                        Sjaldgæft
                    {% elif icon.rarity==2 %}
                        Epískt
                    {% elif icon.rarity==3%}
                        Goðsagnakennt
                    {% else %}
                        Algengt
                    {% endif %}
                </span>
                    <span class='float-right'>
                    {% for i in range(4) %}
                        {% if i < icon.rarity + 1 %}
                            <i class='fa fa-xs fa-circle'></i>
                        {% else %}
                            <i class='far fa-xs fa-circle'></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
{% endmacro %}

{% macro title_card(title, loot_display, current_user)%}
    <div class="card" style='width: 100%'>
        {% if current_user.progression.is_title_equipped(title) and not loot_display%}
            <div class="card-header bg-success">
                Valinn
                <a href="{{url_for('shop.title_disable', user_id=current_user.id)}}" class='btn btn-secondary btn-sm float-right'>Taka af</a>
            </div>
        {% endif %}
        <div class="card-body d-flex justify-content-between flex-column">
            <div>
                <p class="card-title text-center font-weight-bold h4">{{title.title}}</p>
                <p class='text-center'><i class="fas {{fa_id}} fa-3x text-success"></i></p>
                <p class='text-center'>{{title.description}}</p>
            </div>
            <div>
                {% if not current_user.progression.owns_title(title) and not loot_display%}
                    <a href="{{url_for('shop.title_buy', title_id=title.id, user_id=current_user.id)}}" class="btn btn-warning btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">{{(title.price * (1-current_user.progression.fire_sale_discount))|int}}</span>
                        <i class="fas fa-coins mr-2"></i>
                    </a>
                {% else %}
                    {% if not current_user.progression.is_title_equipped(title) %}
                        <a href="{{url_for('shop.title_equip', title_id=title.id, user_id=current_user.id)}}" class="btn btn-secondary text-success btn-sm rounded-pill text-center float-right">
                            <span class="mr-2 ml-2 font-weight-bold">Velja</span>
                            <i class="fas fa-check mr-2"></i>
                        </a>
                    {% endif %}
                {% endif %}


                {% if current_user.is_admin() %}
                    <a href="{{title.edit_url}}" class="mr-1 btn btn-secondary text-warning btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">
                            <i class='fa fa-edit'></i>
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="{% if title.rarity == 1 %}background-color: {{config.COLORS.rare}}{% elif title.rarity==2 %}background-color: {{config.COLORS.epic}}{% elif title.rarity==3%}background-color: {{config.COLORS.legendary}}{% else %}background-color: {{config.COLORS.common}}{% endif %}">
                <span>
                    {% if title.rarity == 1 %}
                        Sjaldgæft
                    {% elif title.rarity==2 %}
                        Epískt
                    {% elif title.rarity==3%}
                        Goðsagnakennt
                    {% else %}
                        Algengt
                    {% endif %}
                </span>
                    <span class='float-right'>
                    {% for i in range(4) %}
                        {% if i < title.rarity + 1 %}
                            <i class='fa fa-xs fa-circle'></i>
                        {% else %}
                            <i class='far fa-xs fa-circle'></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
{% endmacro %}

{% macro slogan_card(quote, loot_display, current_user)%}
    <div class="card" style="width:100%">
        {% if current_user.progression.is_quote_equipped(quote) and not loot_display%}
            <div class="card-header bg-success">
                Valið
                <a href="{{url_for('shop.quote_disable', user_id=current_user.id)}}" class='btn btn-secondary btn-sm float-right'>Taka af</a>
            </div>
        {% endif %}
        <div class="card-body d-flex justify-content-between flex-column">
            <div>
                <p class="card-title text-center font-italic">{{quote.quote}}</p>
            </div>
            <div>
                {% if not current_user.progression.owns_quote(quote) and not loot_display%}
                    <a href="{{url_for('shop.quote_buy', quote_id=quote.id, user_id=current_user.id)}}" class="btn btn-warning btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">{{(quote.price * (1-current_user.progression.fire_sale_discount))|int}}</span>
                        <i class="fas fa-coins mr-2"></i>
                    </a>
                {% else %}
                    {% if not current_user.progression.is_quote_equipped(quote) %}
                        <a href="{{url_for('shop.quote_equip', quote_id=quote.id, user_id=current_user.id)}}" class="btn btn-secondary text-success btn-sm rounded-pill text-center float-right">
                            <span class="mr-2 ml-2 font-weight-bold">Velja</span>
                            <i class="fas fa-check mr-2"></i>
                        </a>
                    {% endif %}
                {% endif %}

                {% if current_user.is_admin() %}
                    <a href="{{quote.edit_url}}" class="mr-1 btn btn-secondary text-warning btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">
                            <i class='fa fa-edit'></i>
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="{% if quote.rarity == 1 %}background-color: {{config.COLORS.rare}}{% elif quote.rarity==2 %}background-color: {{config.COLORS.epic}}{% elif quote.rarity==3%}background-color: {{config.COLORS.legendary}}{% else %}background-color: {{config.COLORS.common}}{% endif %}">
                <span>
                    {% if quote.rarity == 1 %}
                        Sjaldgæft
                    {% elif quote.rarity==2 %}
                        Epískt
                    {% elif quote.rarity==3%}
                        Goðsagnakennt
                    {% else %}
                        Algengt
                    {% endif %}
                </span>
                    <span class='float-right'>
                    {% for i in range(4) %}
                        {% if i < quote.rarity + 1 %}
                            <i class='fa fa-xs fa-circle'></i>
                        {% else %}
                            <i class='far fa-xs fa-circle'></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
{% endmacro %}

{% macro loot_card(loot, current_user)%}
    <div class="card" style='width: 100%;'>
        <div class="card-body d-flex justify-content-between flex-column">
            <div class="" style="margin-bottom:20px">
                <p class="card-title text-center font-weight-bold">{{loot.title}}</p>
                {% if loot.rarity == 1 %}
                    <p class='text-center'>{{verifier_icon('fas fa-question', config.COLORS.rare, '5x')}}</p>
                    <p class='text-center mb-0'>Þessi kassi tryggir að minnsta kosti einn sjaldgæfan hlut.</p>
                {% elif loot.rarity==2 %}
                    <p class='text-center'>{{verifier_icon('fas fa-question', config.COLORS.epic, '5x')}}</p>
                    <p class='text-center mb-0'>Þessi kassi tryggir að minnsta kosti einn epískan hlut.</p>
                {% elif loot.rarity==3%}
                    <p class='text-center'>{{verifier_icon('fas fa-question', config.COLORS.legendary, '5x')}}</p>
                    <p class='text-center mb-0'>Þessi kassi tryggir að minnsta kosti einn goðsagnakenndan hlut.</p>
                {% else %}
                    <p class='text-center'>{{verifier_icon('fas fa-question', config.COLORS.common, '5x')}}</p>
                    <p class='text-center mb-0'>Ódýr kassi tryggir ekki neitt en hver veit hvort þú dettir í lukkupottinn!</p>
                {% endif %}
            </div>
            <div>
                <a href="{{url_for('shop.loot_box', rarity=loot.rarity)}}" class="btn btn-warning btn-sm rounded-pill text-center float-right">
                    <span class="mr-2 ml-2 font-weight-bold">{{(loot.price * (1-current_user.progression.fire_sale_discount))|int}}</span>
                    <i class="fas fa-coins mr-2"></i>
                </a>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="{% if loot.rarity == 1 %}background-color: {{config.COLORS.rare}}{% elif loot.rarity==2 %}background-color: {{config.COLORS.epic}}{% elif loot.rarity==3%}background-color: {{config.COLORS.legendary}}{% else %}background-color: {{config.COLORS.common}}{% endif %}">
                <span>
                    {% if loot.rarity == 1 %}
                        Sjaldgæft
                    {% elif loot.rarity==2 %}
                        Epískt
                    {% elif loot.rarity==3%}
                        Goðsagnakennt
                    {% else %}
                        Algengt
                    {% endif %}
                </span>
                <span class='float-right'>
                    {% for i in range(4) %}
                        {% if i < loot.rarity + 1 %}
                            <i class='fa fa-xs fa-circle'></i>
                        {% else %}
                            <i class='far fa-xs fa-circle'></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
{% endmacro %}

{% macro font_card(font, current_user)%}
    {{font_link(font)}}
    <div class="card" style="width: 100%; {{font_css(font)}}">
        {% if current_user.progression.is_font_equipped(font) %}
            <div class="card-header bg-success">
                Valið
                <a href="{{url_for('shop.font_disable', user_id=current_user.id)}}" class='btn btn-secondary btn-sm float-right'>Taka af</a>
            </div>
        {% endif %}
        <div class="card-body d-flex justify-content-between flex-column">
            <div>
                <p class="card-title text-center font-weight-bold">{{font.title}}</p>
                <p class="card-title text-center">{{font.description}}</p>
            </div>
            <div>
                {% if not current_user.progression.owns_font(font) %}
                    <a href="{{url_for('shop.font_buy', font_id=font.id, user_id=current_user.id)}}" class="btn btn-danger btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">{{(font.price * (1-current_user.progression.fire_sale_discount))|int}}</span>
                        <i class="fas fa-gem mr-2"></i>
                    </a>
                {% else %}
                    {% if not current_user.progression.is_font_equipped(font) %}
                        <a href="{{url_for('shop.font_equip', font_id=font.id, user_id=current_user.id)}}" class="btn btn-secondary text-success btn-sm rounded-pill text-center float-right">
                            <span class="mr-2 ml-2 font-weight-bold">Velja</span>
                            <i class="fas fa-check mr-2"></i>
                        </a>
                    {% endif %}
                {% endif %}

                {% if current_user.is_admin() %}
                    <a href="{{font.edit_url}}" class="mr-1 btn btn-secondary text-warning btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">
                            <i class='fa fa-edit'></i>
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="{% if font.rarity == 1 %}background-color: {{config.COLORS.rare}}{% elif font.rarity==2 %}background-color: {{config.COLORS.epic}}{% elif font.rarity==3%}background-color: {{config.COLORS.legendary}}{% else %}background-color: {{config.COLORS.common}}{% endif %}">
                <span>
                    {% if font.rarity == 1 %}
                        Sjaldgæft
                    {% elif font.rarity==2 %}
                        Epískt
                    {% elif font.rarity==3%}
                        Goðsagnakennt
                    {% else %}
                        Algengt
                    {% endif %}
                </span>
                    <span class='float-right'>
                    {% for i in range(4) %}
                        {% if i < font.rarity + 1 %}
                            <i class='fa fa-xs fa-circle'></i>
                        {% else %}
                            <i class='far fa-xs fa-circle'></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
{% endmacro %}

{% macro premium_item_card(item, current_user) %}
    <div class='card' style='background-color: {{config.COLORS.epic}};'>
        <div class='card-body d-flex justify-content-between flex-column'>
            <div>
                <h3 class='card-title' style='font-family: "Dancing Script", cursive;'>{{item.title}}</h3>
                <p class='card-text'>{{item.description}}</p>
                {% if item.num_available > 0%}
                    <p class='card-text'>Aðeins {{item.num_available}} eintök eru í boði. Drífðu þér að tryggja þér eintak!</p>
                {% endif %}
            </div>
            <div class='mt-2'>
                {% if current_user.progression.owns_premium_item(item) %}
                    <span class='font-weight-bold float-right'>Þú átt þennan hlut</span>
                {% elif item.num_available > 0 %}
                    <a href="{{url_for('premium_item_buy', premium_item_id=item.id, user_id=current_user.id)}}" class='btn btn-warning rounded-pill float-right'>
                        <span class="mr-2 ml-2 font-weight-bold">{{item.coin_price}}</span>
                        <i class="fas fa-coins mr-2"></i>
                        <span class="mr-2 ml-2 font-weight-bold">{{item.experience_price}}</span>
                        <i class="fas fa-gem mr-2"></i>
                    </a>
                {% else %}
                    <span class='font-weight-bold float-right'>Uppselt!</span>
                {% endif %}

                {% if current_user.is_admin() %}
                    <a href="{{item.edit_url}}" class="mr-1 btn btn-secondary text-warning rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">
                            <i class='fa fa-edit'></i>
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro font_link(font) %}
    <link href="{{font.href}}" rel="stylesheet">
{% endmacro %}

{% macro font_css(font) %}
    font-family: '{{font.font_family}}', {{font.font_type}};
{% endmacro %}

{% macro verifier_card(current_user) %}
    <div class='card'>
        <div class='card-body'>
            <p class='text-center'>
                {% if current_user.progression.equipped_icon.title %}
                    {{verifier_icon(current_user.progression.equipped_icon.fa_id, current_user.progression.equipped_icon.color, '4x')}}
                {% else %}
                    {{verifier_icon('fa fa-user', '#fff', '4x')}}
                {% endif %}
            </p>
            <p class='font-weight-bold text-center'>{{current_user.progression.equipped_title.title}} {{current_user.name}}</p>
            <p class='font-italic text-center'>
                {% if current_user.progression.equipped_quote.quote %}
                    {{current_user.progression.equipped_quote.quote}}
                {% else %}
                    Ég var að byrja að greina!
                {% endif %}
            </p>
            <p class='text-center mb-0'>
                <span class='text-warning mr-4'>
                    {{current_user.progression.lobe_coins}}
                    <i class='fa fa-coins ml-1'></i>
                </span>
                <span style="color: {{config.COLORS.diamond}}">
                    {{current_user.progression.experience}}
                    <i class='fa fa-gem ml-1'></i>
                </span>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span>Greinandi</span>
                <span class='text-warning float-right'>
                    {% for key, _ in config.ECONOMY.achievements.verification.items() %}
                        {% if current_user.progression.verification_level > key|int %}
                            <i class='fa fa-xs fa-circle'></i>
                        {% else %}
                            <i class='far fa-xs fa-circle'></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
            <li class="list-group-item">
                <span>Spæjari</span>
                <span class='text-warning float-right'>
                    {% for key, _ in config.ECONOMY.achievements.spy.items() %}
                        {% if current_user.progression.spy_level > key|int %}
                            <i class='fa fa-xs fa-circle'></i>
                        {% else %}
                            <i class='far fa-xs fa-circle'></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
            <li class="list-group-item">
                <span>Garpur</span>
                <span class='text-warning float-right'>
                    {% for key, _ in config.ECONOMY.achievements.streak.items() %}
                        {% if current_user.progression.streak_level > key|int %}
                            <i class='fa fa-xs fa-circle'></i>
                        {% else %}
                            <i class='far fa-xs fa-circle'></i>
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
{% endmacro %}