{% extends "__base.jinja" %}
{% block body %}
    <div class='row mb-4'>
        <div class='col-8 offset-2 mb-5'>
            <p class='text-center text-success'>
                <i class='fa fa-info-circle fa-4x d-md-block d-none'></i>
            </p>
            <h3 class='font-weight-bold mb-5 text-lg-center'>
                Upplýst samþykki vegna framlags í gagnasöfnun við gerð Talróms
            </h3>
            <h4>Verklýsing</h4>
            <p class="mb-4">
                Verkefni þetta er hluti af áætluninni um Máltækni fyrir íslensku 2018–2022
                sem unnið er af Samstarfshóp um íslenska máltækni (SÍM) fyrir hönd
                Mennta- og menningarmálaráðuneytisins (MMR).
                Markmiðið með verkefninu er að gera íslensku aðgengilega til notkunar í
                hugbúnaðarþróun í stafrænum heimi.
                Gagnasöfnunin Talrómur er framkvæmd af Háskólanum í Reykjavík og RÚV í þeim tilgangi
                að safna raddupptökum til þróunar á  íslenskum talgervlum.

            </p>
            <h4>Þátttaka í gerð gagnasafnsins Talróms</h4>
            <p class="mb-4">
                Með þáttöku samþykkir þú að öll þín framlög
                (raddupptaka og lýðfræðilegar upplýsingar) falli undir
                Creative Commons Attribution (CC BY 4.0) leyfi sem veitir rétt til
                að afrita, deila, blanda, umbreyta og byggja á efninu í hvaða tilgangi
                sem er og á hvaða miðli sem er eða á hvaða sniði sem er.
                Einnig afsalar þú þér rétti þínum til að draga til baka
                framlag þitt til þessa verkefnis.
                Þær lýðfræðilegu upplýsingar sem skráðar verða eru aldur, kyn og rödd.

            </p>
            <h4>Aðgengi að gagnasafninu</h4>
            <p class="mb-4">
                Gagnasafnið verður aðgengilegt í heild sinni með CC BY-leyfi á vefsvæði CLARIN-ERIC
                (CLARIN stendur fyrir „Common Language Resources and Technology Infrastructure“ og
                ERIC stendur fyrir „European Research Infrastructure Consortium“) á vefslóðinni clarin.is.

            </p>
            <h4>Fyrirvari</h4>
            <p class="mb-4">
                Háskólinn í Reykjavík og RÚV eru undanþegin hvers kyns bótaábyrgð vegna
                notkunar gagnasafnsins, sem er aðgengilegt öllum með CC BY-leyfi.

            </p>
            <h4>Annað</h4>
            <p class="mb-4">
                Hægt er að hafa samband við aðila verkefnisins í gegnum netfangið samromur@hr.is.
            </p>
        </div>
    </div>
{% endblock %}