{% import 'macros.jinja' as macros %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if white_theme %}
        <link rel="stylesheet" href='{{url_for("static", filename="styles/bootstrap-4.3.1-dist/css/bootstrap.min.css")}}'>
    {% else %}
        <link rel="stylesheet" href='{{url_for("static", filename="styles/bootswatch_darkly/bootstrap.min.css")}}'>
    {% endif %}
    <link rel="stylesheet" href='{{url_for("static", filename="styles/fontawesome/all.css")}}'>
    <link rel="stylesheet" href='{{url_for("static", filename="styles/main.css")}}'>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.ico')}}" />
    {% block headscripts %}
    {% endblock %}
    <title>LOBE</title>
  </head>
  <body>
    {% include '_header.jinja' %}
    {% if progression_view %}
      <div class='container-fluid' style='background-color:#131313;'>
        <div class='row'>
          <div class='col-12 mt-3 mb-3'>
              <span class='font-weight-bold'>
                <i class='mr-2 {{current_user.progression.equipped_icon.fa_id}}' style='color: {{current_user.progression.equipped_icon.color}}'></i>
                {{current_user.progression.equipped_title.title }}
                {{current_user.name}}
              </span>
              <span class='float-right text-danger' id='color-change'>
                <span id='experienceValue'>{{current_user.progression.experience}}</span>
                <i class='fa fa-gem ml-1'></i>
              </span>
              <span class='float-right text-warning mr-3'>
                <span id='coinValue'>{{current_user.progression.lobe_coins }}</span>
                <i class='fa fa-coins ml-1'></i>
              </span>
          </div>
        </div>
      </div>
    {% endif %}
    <div class='container pt-5'>
        {% block body %}
        {% endblock %}
        {% block modals%}
        {% endblock %}
        {% with messages=get_flashed_messages(with_categories=True) %}
          {% for category, message in messages %}
            {% include '_notification.jinja'%}
          {% endfor %}
        {% endwith %}
    </div>
    {% block scripts %}
      <script src='{{url_for("static", filename="js/jquery-3.4.1.min.js")}}'></script>
      <script src='{{url_for("static", filename="js/popper.min.js")}}'></script>
      <script src='{{url_for("static", filename="js/bootstrap-4.3.1-dist/js/bootstrap.min.js")}}'></script>
      <script src='{{url_for("static", filename="js/base.js")}}'></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/peaks.js/0.13.0/peaks.min.js" integrity="sha256-GS1DXq3Zq0HzUVDxngHxmtu5leUMVmESODCMyY+pUAA=" crossorigin="anonymous"></script>-->
    {% endblock %}
  </body>
</html>