{% import 'macros.jinja' as macros %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if white_theme %}
        <link rel="stylesheet" href='{{url_for("static", filename="styles/bootstrap-4.3.1-dist/css/bootstrap.min.css")}}'>
    {% else %}
        <link rel="stylesheet" href='{{url_for("static", filename="styles/bootswatch_darkly/bootstrap.min.css")}}'>
    {% endif %}
    <link rel="stylesheet" href='{{url_for("static", filename="styles/fontawesome/all.min.css")}}'>
    <link rel="stylesheet" href='{{url_for("static", filename="styles/main.css")}}'>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.ico')}}" />
    {% block headscripts %}
    {% endblock %}
    <title>LOBE</title>
  </head>
  <body>
    {% include '_header.jinja' %}
    <div class='container pt-5'>
        {% block body %}
        {% endblock %}
        {% block modals%}
        {% endblock %}
    </div>
    {% block scripts %}
      <script src='{{url_for("static", filename="js/jquery-3.4.1.min.js")}}'></script>
      <script src='{{url_for("static", filename="js/popper.min.js")}}'></script>
      <script src='{{url_for("static", filename="js/bootstrap-4.3.1-dist/js/bootstrap.min.js")}}'></script>
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/peaks.js/0.13.0/peaks.min.js" integrity="sha256-GS1DXq3Zq0HzUVDxngHxmtu5leUMVmESODCMyY+pUAA=" crossorigin="anonymous"></script>-->
    {% endblock %}
  </body>
</html>