<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{collection.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{collection.created_at | datetime}}</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{{collection.get_url()}}" class="card-link">Skoða</a>
  </div>
</div>