<div class="card mb-3 flex-fill">
  <div class="card-body d-flex flex-column justify-content-between">
    <div>
    <h5 class="card-title">
        <a href="{{collection.get_url()}}">
        {{collection.name}}
        </a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{collection.created_at | datetime}}</h6>
    <p class='card-text'>
      Stofnuð þann: {{collection.created_at | datetime(format='low')}}
      <br>
      Búið að taka upp {{collection.num_tokens - collection.num_nonrecorded_tokens}} af {{collection.num_tokens}} textum
    </p>
    </div>
    <div>
      <div class="progress mt-2 mb-2">
        <div class="progress-bar bg-success" role="progressbar" style="width:{{collection.get_complete_ratio(as_percent=True)}}%"></div>
      </div>
    <a href="{{url_for('record_session', coll_id=collection.id)}}" class='btn btn-secondary float-right text-success rounded-circle'>
      <i class='fa fa-microphone'></i>
    </a>
    </div>
  </div>
  <div class="card-footer">
    Söfnun
  </div>
</div>