<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('index')}}">LOBE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item {% if section == 'collection' %}active{% endif %}">
            <a class="nav-link {% if section == 'collection' %}text-success{% endif %}" href="{{url_for('collection_list')}}">Safnanir</a>
        </li>
        <li class="nav-item {% if section == 'token' %}active{% endif %}">
            <a class="nav-link {% if section == 'token' %}text-success{% endif %}" href="{{url_for('token_list')}}">Setningar</a>
        </li>
        <li class="nav-item {% if section == 'recording' %}active{% endif %}">
            <a class="nav-link {% if section == 'recording' %}text-success{% endif %}" href="{{url_for('recording_list')}}">Upptökur</a>
        </li>
        <li class="nav-item {% if section == 'session' %}active{% endif %}">
            <a class="nav-link {% if section == 'session' %}text-success{% endif %}" href="{{url_for('rec_session_list')}}">Lotur</a>
        </li>
        {% if not current_user.is_anonymous and current_user.is_admin() %}
            <li class="nav-item {% if section == 'user' %}active{% endif %}">
                <a class="nav-link {% if section == 'user' %}text-success{% endif %}" href="{{url_for('user_list')}}">Notendur</a>
            </li>
        {% endif %}
        {% if not current_user.is_anonymous %}
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                <span>{{current_user.name}}</span>
                {{macros.btn_icon('user-circle', '')}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('user',id=current_user.id)}}">Mín síða</a>
                    <a class="dropdown-item" href="{{url_for('security.logout') }}">Skrá út</a>
                </div>
            </li>
        {% endif %}
        <li class="nav-item dropdown {% if section == 'other' %}active{% endif %}">
            <a class="nav-link {% if section == 'other' %}text-success{% endif %}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
            <span>Annað</span>
            {{macros.btn_icon('info-circle','')}}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{url_for('download_manual')}}">Leiðbeiningar</a>
                <a class="dropdown-item" href="{{url_for('conf_list')}}">Stillingar</a>
            </div>
        </li>
    </ul>
    </div>
</nav>
