<div class='table-responsive'>
    <table class='table table-sm table-no-break'>
        <thead>
            <th>Lesið þann</th>
            <th>Auðkenni</th>
            <th>Lesið af</th>
            <th>Lengd</th>
            <th>Texti lesinn</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for recording in recordings %}
                <tr>
                    <td>{{recording.created_at | datetime(format='low')}}</td>
                    <td><a href={{recording.get_url()}}><code>#{{recording.id}}</code></a></td>
                    {% if recording.user_id %}
                        <td><a href={{recording.get_user().get_url()}}>{{recording.get_user().name}}</a></td>
                    {% else %}
                        <td>Ekki skráð</td>
                    {% endif %}
                    <td>{{recording.get_printable_duration()}}</td>
                    <td>{{recording.get_token().text}}</td>
                    <td class='table-btn-wrapper'>
                        <div>
                            <audio id="audio-{{recording.id}}" src={{recording.get_download_url()}} type="audio/wav"></audio>
                            <a class='btn btn-secondary btn-sm float-right ml-1' href='{{recording.get_download_url()}}'><i class='fa fa-download'></i></a>
                            <button type='button' class='btn btn-secondary btn-sm float-right ml-1' onClick="play({{recording.id}})">
                                <i id='playButtonIcon-{{recording.id}}' class='fa fa-play'></i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--Can't be included in the script block here-->
<script src='{{url_for("static", filename="js/listControls.js")}}'></script>
