<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>Dagsetning</th>
            <th>Auðkenni</th>
            <th>Fjöldi upptaka</th>
            <th>Lengd</th>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    <td>{{session.created_at | datetime(format='medium')}}</td>
                    <td><a href={{session.get_url()}}>{{session.get_printable_id()}}</a></td>
                    <td>{{session.num_recordings}}</td>
                    <td>{{session.get_printable_duration() | default("N/A")}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>