<div class='table-responsive table-sm'>
    <table class='table table-no-break'>
        <thead>
            <th>Auðkenni</th>
            <th>Lengd</th>
            <th>Skráð þann</th>
            <th># upptökur</th>
            <th>Röðunarstuðull</th>
            <th>Texti</th>
        </thead>
        <tbody>
            {% for token in tokens %}
                <tr>
                    <td><a href={{token.get_url()}} class='{% if token.marked_as_bad %} text-warning {% endif %}'><code>{{token.get_printable_id()}}</code></a></td>
                    <td class='text-right'>{{token.get_length()}}</td>
                    <td>{{token.created_at | datetime('med-low')}}</td>
                    <td class='text-right'>{{token.recordings | length}}</td>
                    <td>{% if token.score is not none %}{{token.get_printable_score()}}{% endif %}</td>
                    <td>{{token.text}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>