<div class='card'>
    <div class='card-body'>
        {% if level >= category.items()|length %}
            <p class='text-center'><i class='fa fa-check fa-5x text-success'></i></p>
            <h5 class='card-title text-center'>Leiðarendi</h5>
            <p class='card-text text-center'>Þú hefur klárað öll afrek í þessum flokk.</p>
        {% else %}
            <p class='text-center'><i class='fa {{category[level|string].fa_id}} fa-5x text-success'></i></p>
            <h5 class='card-title text-center'>{{category[level|string].title}}</h5>
            {% if type == 'verification' %}
                <p class='card-text text-center'>Kláraðu {{category[level|string].goal}} greiningar til að fá:</p>
            {% endif %}
            <p class='text-center'>
                <span class='text-warning mr-4'>
                    {{category[level|string].coin_reward}}
                    <i class='fa fa-coins ml-1'></i>
                </span>
                <span style="color: {{config.COLORS.diamond}}">
                    {{category[level|string].experience_reward}}
                    <i class='fa fa-gem ml-1'></i>
                </span>
            </p>
        {% endif %}
        <p class='text-center'>
            {% for key, _ in category.items() %}
                {% if level > key|int %}
                    <i class='fa fa-circle'></i>
                {% else %}
                    <i class='far fa-circle'></i>
                {% endif %}
            {% endfor %}
        </p>
        <div class="progress mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%;"></div>
        </div>
    </div>
</div>