{% extends "__base.jinja" %}
{% block body %}
    <div class='row mb-3'>
        <div class='col-12 mb-3'>
            <h1 class='font-weight-bold'>
                Umsókn móttekin
            </h1>
            <p>
                Takk fyrir að sækja um.
            </p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{super()}}
{% endblock %}