{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>{{collection.name}}</h1>
            {% if collection.has_assigned_user() %}
                <h3 class='font-weight-bold'>Rödd: {{collection.get_assigned_user()}}</h3>
            {% endif %}
            <p>Stofnuð þann: {{collection.created_at | datetime(format='low')}}</p>
            <p>Búið að taka upp {{collection.num_tokens - collection.num_nonrecorded_tokens}} af {{collection.num_tokens}} textum</p>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width:{{collection.get_complete_ratio(as_percent=True)}}%"></div>
            </div>

            <a href='{{url_for("record_session", coll_id=collection.id)}}' class='btn btn-success float-right'>
                {{macros.btn_icon('microphone', 'r')}}
                Taka upp
            </a>
            <a href='{{url_for("collection_sessions", id=collection.id)}}' class='btn btn-secondary float-right mr-2'>
                {{macros.btn_icon('arrow-right', 'r')}}
                Lotur
            </a>
            {% if current_user.is_admin() %}
                <button type='button' class='btn btn-secondary float-right mr-2' data-toggle='modal', data-target='#addTokensModal'>
                    {{macros.btn_icon('plus', 'r')}}
                    Bæta við
                </button>
                <a href='{{collection.get_download_url()}}' class='btn btn-secondary float-right mr-2'>
                    {{macros.btn_icon('download', 'r')}}
                    Sækja söfnun
                </a>
                <button type='button' data-toggle='modal', data-target='#deleteModal' class='btn btn-danger float-right mr-2'>
                    {{macros.btn_icon('times', 'r')}}
                    Eyða söfnun
                </a>
            {% endif %}
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Textar</h3>
        </div>
        <div class='col-12'>
            {% with tokens=tokens.items %}
                {% include '_token_table.jinja'%}
            {% endwith %}
        </div>
    </div>
    <div class='row mt-3'>
        <div class='col-12'>
            <!-- Quick fix for compiling, replace token_list with collection -->
            {{macros.pagination(tokens, url_for("token_list"))}}
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id='addTokensModal' tabindex="-1">
        <form method='POST' enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bæta við textum</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <p>
                            Veljið eitt eða fleiri skjöl hér að neðan. Textaskjal sem inniheldur fleiri en eina línu er túlkað
                            sem margir textabútar og textaskjölin vistast sem slík (5 línur í textaskrá samsvarar 5 textum til dæmis).
                        </p>
                        {% with form=token_form %}
                            {% include '_form.jinja' %}
                        {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                    <button class='btn btn-primary' type='submit'>
                        Klára
                        <span class='ml-1'><i class='fa fa-check'></i></span>
                    </button>
                </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id='deleteModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða söfnun!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                Með því að eyða söfnun eyðast allar upptökur og allar setningar
                sem settar hafa verið inn fyrir söfnunina: {{collection.name}}.
                <br><br>
                Þessi söfnun hefur {{collection.num_tokens}} setningar og búið er
                að taka upp {{collection.get_complete_ratio(as_percent=True)}}% af þeim.
                <br><br>
                Ertu viss um að þú viljir eyða þessari söfnun?
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a href='{{url_for("delete_collection", id=collection.id)}}' class='btn btn-danger'>
                    Eyða
                    <span class='ml-1'><i class='fa fa-times'></i></span>
                </a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}