{% extends "__base.jinja" %}
{% block body %}
        <div class='row'>
            <div class='col-12'>
                <h1 class='font-weight-bold'>Safnanir</h1>
            </div>
            <div class='col-12 mb-3'>
                <a class='btn btn-secondary float-right' href='{{url_for("create_collection")}}'>
                    {{macros.btn_icon('plus', 'r')}}
                    Búa til
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-12'>
                <table class='table'>
                    <thead>
                        <th>Nafn</th>
                        <th>Búin til</th>
                        <th>Fjöldi setninga</th>
                        <th>Gangur</th>
                    </thead>
                    <tbody>
                        {% for collection in collections.items %}
                            <tr>
                                <td><a href={{collection.get_url()}}>{{collection.name}}</a></td>
                                <td>{{collection.created_at | datetime('low')}}</td>
                                <td>{{collection.tokens | length}}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:{{collection.get_complete_ratio(as_percent=True)}}%"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}