{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class="col-12">
            <h3>Kolaportið</h3>
            <p>{{current_user.name}} - My LOBE-coins: {{current_user.progression.lobe_coins}} </p>
        </div>
    </div>
    {% with items=icons, type="Icons"%}
        {% include 'carousel_item.jinja'%}
    {% endwith %}
    {% with items=titles, type="Titles"%}
        {% include 'carousel_item.jinja'%}
    {% endwith %}
    {% with items=quotes, type="Slogans"%}
        {% include 'carousel_item.jinja'%}
    {% endwith %}
{% endblock %}