{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>Búð</h1>
            <a href="{{url_for('icon_create')}}">Nýr icon</a>
        </div>
    </div>
    {% for icon in icons %}
        {{macros.verifier_icon(icon.fa_id, icon.color, '3x')}}
        <p>{{icon.title}}</p>
        <p>{{icon.description}}</p>
        <a href={{icon.edit_url}}>{{icon.edit_url}}</a>
    {% endfor %}

{% endblock %}