{% macro btn_icon(type, dir) %}
    <span class='m{{dir}}-2'>
        <i class='fa fa-{{type}}'></i>
    </span>
{% endmacro %}

{% macro sort_th_a(sort_by, url) %}
    <a href="{{url}}?sort_by={{sort_by}}&order={% if request.args.get('sort_by')==sort_by and request.args.get('order', 'desc')=='desc' %}asc{% else %}desc{% endif %}">
        {% if request.args.get('sort_by')==sort_by%}
            {% if request.args.get('order')=='asc' %}
                {{btn_icon('sort-up', '')}}
            {% else %}
                {{btn_icon('sort-down', '')}}
            {% endif %}
        {% else %}
                {{btn_icon('sort', '')}}
        {% endif %}
    </a>
{% endmacro %}

{% macro pagination(items, url) %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if items.has_prev %}
                <li class="page-item"><a class="page-link" href="{{url}}?page={{items.prev_num}}{% if request.args.get('sort_by')%}&sort_by={{request.args.get('sort_by')}}{% endif %}{% if request.args.get('order')%}&order={{request.args.get('order')}}{% endif %}">
                    {{ btn_icon('arrow-left', 'r')}}
                    Fyrri
                </a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">
                    {{ btn_icon('arrow-left', 'r')}}
                    Fyrri
                </a></li>
            {% endif %}
            <li class='page-item active'>
                <span class='page-link'>{{items.page}} af {{items.pages}}</span>
            </li>
            {% if items.has_next %}
                <li class="page-item"> <a class="page-link" href="{{url}}?page={{items.next_num}}{% if request.args.get('sort_by')%}&sort_by={{request.args.get('sort_by')}}{% endif %}{% if request.args.get('order')%}&order={{request.args.get('order')}}{% endif %}">
                    Næsta
                    {{ btn_icon('arrow-right', 'l')}}
                </a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">
                    Næsta
                    {{ btn_icon('arrow-right', 'l')}}
                </a></li>
            {% endif %}

        </ul>
    </nav>
{% endmacro %}

{% macro recording_analysis(recording) %}
        {% if recording.analysis %}
            {% if recording.analysis == 'ok' %}
                <span class='text-success'>
                    <i class='fa fa-thumbs-up mr-2'></i>
                    Góð
                </span>
            {% elif recording.analysis == 'high' %}
                <span class='text-danger'>
                    <i class='fa fa-thumbs-down mr-2'></i>
                    Of há
                </span>
            {% elif recording.analysis == 'low' %}
                <span class='text-danger'>
                    <i class='fa fa-thumbs-down mr-2'></i>
                    Of lág
                </span>
            {% endif %}
        {% else %}
            <span class='text-warning'>
                <i class='fa fa-question-circle mr-2'></i>
                Ekki greint
            </span>
        {% endif %}
{% endmacro %}

{% macro recording_verification(recording) %}
    {% if recording.is_secondarily_verified %}
        <span class='text-success'>
            <i class='fa fa-certificate mr-2'></i>
            Tvígreind
        </span>
    {% elif recording.is_verified %}
        <span class='text-success'>
            Eingreind
        </span>
    {% else %}
        <span class='text-warning'>
            <i class='fa fa-question-circle mr-2'></i>
            Engin greining
        </span>
    {% endif %}
{% endmacro %}


{% macro pron_spans(prons) %}
    {% for pron in prons %}
        <span class='mr-1 mt-1 px-2 rounded bg-secondary' style="white-space: nowrap; display:inline-block;">{{pron | safe}}</span>
    {% endfor %}
{% endmacro %}

{% macro default(val, def) %}
    {% if val %}
        {{val}}
    {% elif def %}
        {{val}}
    {% else %}
        Ekki tilgreint
    {% endif %}
{% endmacro %}

{% macro no_results(title, text, link, link_text, icon, type) %}
    <div class='jumbotron'>
        <h3 class='font-weight-bold'>
            <span class='text-{% if type %}{{type}}{% else %}warning{% endif %}'>
                <i class='fa fa-{% if icon %}{{icon}}{% else %}exclamation-triangle{% endif%}'></i>
            </span>
            {{title}}
        </h3>
        <p>{{text}}</p>
        {% if link %}
            <a href={{link}} class='btn btn-secondary text-success float-sm-right'>
                {{link_text}}
                {{btn_icon('fa fa-arrow-right', '')}}
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% macro verifier_icon(classes, color, size) %}
    <i class='{{classes}} fa-{{size}}' style='color: {{color}}'></i>
{% endmacro %}

{% macro icon_card(fa_id, title, description, price, is_owned, is_equipped)%}
    <div class="card">
        <div class="card-body">
            <p class="card-title text-center font-weight-bold">{{title}}</p>
            <p class='text-center'><i class="fas {{fa_id}} fa-3x text-success"></i></p>
            <p class='text-center'>{{description}}</p>

            {% if is_owned %}
                {% if not is_equipped %}
                    <a class="btn btn-secondary text-success btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">Velja</span>
                        <i class="fas fa-check mr-2"></i>
                    </a>
                {% else %}
                    <a class="btn btn-secondary btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">Valinn</span>
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-warning btn-sm btn-disabled rounded-pill text-center float-right">
                    <span class="mr-2 ml-2 font-weight-bold">{{price}}</span>
                    <i class="fas fa-dollar-sign mr-2"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro title_card(title, description, price, is_owned, is_equipped)%}
    <div class="card">
        <div class="card-body">
            <p class="card-title text-center font-weight-bold h4">{{title}}</p>
            <p class='text-center'><i class="fas {{fa_id}} fa-3x text-success"></i></p>
            <p class='text-center'>{{description}}</p>

            {% if is_owned %}
                {% if not is_equipped %}
                    <a class="btn btn-secondary text-success btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">Velja</span>
                        <i class="fas fa-check mr-2"></i>
                    </a>
                {% else %}
                    <a class="btn btn-secondary btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">Valinn</span>
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-warning btn-sm btn-disabled rounded-pill text-center float-right">
                    <span class="mr-2 ml-2 font-weight-bold">{{price}}</span>
                    <i class="fas fa-dollar-sign mr-2"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro slogan_card(slogan, price, is_owned, is_equipped)%}
    <div class="card" style="width:100%">
        <div class="card-body">
            <p class="card-title text-center">{{slogan}}</p>
            <p class='text-center'><i class="fas {{fa_id}} fa-3x text-success"></i></p>

            {% if is_owned %}
                {% if not is_equipped %}
                    <a class="btn btn-secondary text-success btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">Velja</span>
                        <i class="fas fa-check mr-2"></i>
                    </a>
                {% else %}
                    <a class="btn btn-secondary btn-sm rounded-pill text-center float-right">
                        <span class="mr-2 ml-2 font-weight-bold">Valinn</span>
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-warning btn-sm btn-disabled rounded-pill text-center float-right">
                    <span class="mr-2 ml-2 font-weight-bold">{{price}}</span>
                    <i class="fas fa-dollar-sign mr-2"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{%macro carousel_item(items, type)%}
    <div class='row'>
        <div class="col-12">
            <p class="text-center h4">{{type}}</p>
        </div>
    </div>

    <!--Large screen Carousel Wrapper-->
    <div id="{{type}}-carousel-large" class="carousel slide carousel-multi-item d-lg-block d-none" style="margin-bottom:40px" data-interval="false">

    <!--Controls-->
    <div class="controls-top mt-2">
        <a href="#{{type}}-carousel-large" data-slide="prev"><i class="fas fa-chevron-left fa-3x"></i></a>
        <a class="float-right" href="#{{type}}-carousel-large" data-slide="next"><i class="fas fa-chevron-right fa-2x"></i></a>
    </div>

    <!--Indicators-->
    <ol class="carousel-indicators">
        {% for item in items | batch(4, '&nbsp;') %}
            <li data-target="#{{type}}-carousel-large" data-slide-to="{{loop.index0}}" class="{% if loop.index0 == 0 %}active{% endif%}"></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox" >
        {% for item_set in items | batch(4, '&nbsp;') %}
            <div class="carousel-item {% if loop.index0==0 %}active{% endif %}">
                <div class='row'>
                    {% for item in item_set %}
                        <div class="col-md-3 d-flex align-items-stretch">
                            {%if type == "Icons"%}
                                {{icon_card(item.icon, item.name, item.description, item.price, false, false)}}
                            {% elif type == "Titles" %}
                                {{title_card(item.title, item.description, item.price, false, false)}}
                            {% elif type == "Slogans" %}
                                {{slogan_card(item.slogan, item.price, false, false)}}
                            {%endif%}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>


    <!--Small screen Carousel wrapper-->

    <div id="{{type}}-carousel-small" class="carousel slide carousel-multi-item d-sm-block d-lg-none" style="margin-bottom:30px" data-interval="false">

    <!--Controls-->
        <div class="controls-top">
            <a href="#{{type}}-carousel-small" data-slide="prev"><i class="fas fa-chevron-left fa-3x"></i></a>
            <a class="float-right" href="#{{type}}-carousel-small" data-slide="next"><i class="fas fa-chevron-right fa-3x"></i></a>
        </div>

        <!--Indicators-->
        <ol class="carousel-indicators">
            {% for item in items %}
                <li data-target="#{{type}}-carousel-small" data-slide-to="{{loop.index0}}" class="{%if loop.index0 == 0%}active{% endif%}"></li>
            {% endfor %}
        </ol>

        <div class="carousel-inner" role="listbox" >
            {% for item_set in items | batch(1, '&nbsp;') %}
                <div class="carousel-item {% if loop.index0==0 %}active{% endif %}">
                    {% for item in item_set %}
                        <div class="col-12" style="float:left">
                            {%if type == "Icons"%}
                                {{icon_card(item.icon, item.name, item.description, item.price, false, false)}}
                            {% elif type == "Titles" %}
                                {{title_card(item.title, item.description, item.price, false, false)}}
                            {% elif type == "Slogans" %}
                                {{slogan_card(item.slogan, item.price, false, false)}}
                            {%endif%}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}