{% macro btn_icon(type, dir) %}
    <span class='m{{dir}}-2'>
        <i class='fa fa-{{type}}'></i>
    </span>
{% endmacro %}

{% macro sort_th_a(sort_by) %}
    <a href="{{request.path}}?sort_by={{sort_by}}&order={% if request.args.get('sort_by')==sort_by and request.args.get('order', 'desc')=='desc' %}asc{% else %}desc{% endif %}">
        {% if request.args.get('sort_by')==sort_by%}
            {% if request.args.get('order')=='asc' %}
                {{btn_icon('sort-up', '')}}
            {% else %}
                {{btn_icon('sort-down', '')}}
            {% endif %}
        {% else %}
                {{btn_icon('sort', '')}}
        {% endif %}
    </a>
{% endmacro %}

{% macro pagination(items, url) %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if items.has_prev %}
                <li class="page-item"><a class="page-link" href="{{request.path}}?page={{items.prev_num}}{% if request.args.get('sort_by')%}&sort_by={{request.args.get('sort_by')}}{% endif %}{% if request.args.get('order')%}&order={{request.args.get('order')}}{% endif %}">
                    {{ btn_icon('arrow-left', 'r')}}
                    Fyrri
                </a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">
                    {{ btn_icon('arrow-left', 'r')}}
                    Fyrri
                </a></li>
            {% endif %}
            <li class='page-item active'>
                <span class='page-link'>{{items.page}} af {{items.pages}}</span>
            </li>
            {% if items.has_next %}
                <li class="page-item"> <a class="page-link" href="{{request.path}}?page={{items.next_num}}{% if request.args.get('sort_by')%}&sort_by={{request.args.get('sort_by')}}{% endif %}{% if request.args.get('order')%}&order={{request.args.get('order')}}{% endif %}">
                    Næsta
                    {{ btn_icon('arrow-right', 'l')}}
                </a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">
                    Næsta
                    {{ btn_icon('arrow-right', 'l')}}
                </a></li>
            {% endif %}

        </ul>
    </nav>
{% endmacro %}

{% macro recording_analysis(recording) %}
        {% if recording.analysis %}
            {% if recording.analysis == 'ok' %}
                <span class='text-success'>
                    <i class='fa fa-thumbs-up mr-2'></i>
                    Góð
                </span>
            {% elif recording.analysis == 'high' %}
                <span class='text-danger'>
                    <i class='fa fa-thumbs-down mr-2'></i>
                    Of há
                </span>
            {% elif recording.analysis == 'low' %}
                <span class='text-danger'>
                    <i class='fa fa-thumbs-down mr-2'></i>
                    Of lág
                </span>
            {% endif %}
        {% else %}
            <span class='text-warning'>
                <i class='fa fa-question-circle mr-2'></i>
                Ekki greint
            </span>
        {% endif %}
{% endmacro %}

{% macro pron_spans(prons) %}
    {% for pron in prons %}
        <span class='mr-1 mt-1 px-2 rounded bg-secondary' style="white-space: nowrap; display:inline-block;">{{pron | safe}}</span>
    {% endfor %}
{% endmacro %}

{% macro default(val, def) %}
    {% if val %}
        {{val}}
    {% elif def %}
        {{val}}
    {% else %}
        Ekki tilgreint
    {% endif %}
{% endmacro %}

{% macro no_results(title, text, link, link_text, icon, type) %}
    <div class='jumbotron'>
        <h3 class='font-weight-bold'>
            <span class='text-{% if type %}{{type}}{% else %}warning{% endif %}'>
                <i class='fa fa-{% if icon %}{{icon}}{% else %}exclamation-triangle{% endif%}'></i>
            </span>
            {{title}}
        </h3>
        <p>{{text}}</p>
        {% if link %}
            <a href={{link}} class='btn btn-secondary text-success float-sm-right'>
                {{link_text}}
                {{btn_icon('fa fa-arrow-right', '')}}
            </a>
        {% endif %}
    </div>
{% endmacro %}