{% extends "lists/_list.jinja" %}
{% block title %}{{mos.printable_id}}{% endblock %}
{% block total %}{{mos_list|length}}{% endblock %}

{% block header_content %}
    <div class="float-left text-warning">
        {% if not mos.number_selected > 0%}
            <span>Veldu setningar til að nota í prófinu</span>
        {% endif %}
    </div>
{% endblock %}

{%block buttons %}
    {% if current_user.is_admin() %}
        <button class="btn btn-secondary btn-sm float-right mr-2" type="button" data-toggle='modal', data-target='#uploadMOSModal'>
            {{macros.btn_icon('upload', 'r')}}
            Hlaða upp talgerfingum
        </button>
        {% if mos.number_selected > 0%}
        <a class='btn btn-secondary btn-sm text-success float-right mr-2' href='{{url_for("mos_test", id=mos.id)}}'>
            {{macros.btn_icon('play', 'r')}}
            Hefja MOS próf
        </a>
        {% else %}
        <a class='btn btn-secondary btn-sm text-warning float-right mr-2'>
            {{macros.btn_icon('play', 'r')}}
            Ekki tilbuid
        </a>
        {% endif %}
        <a class='btn btn-secondary btn-sm text-success float-right mr-2' href='{{url_for("mos_results", id=mos.id)}}'>
            {{macros.btn_icon('chart-bar', 'r')}}
            Skoða niðurstöður
        </a>
    {% endif %}
{% endblock %}

{% block table %}
    <div>
        <div>
            <h3>Talgerfingar</h3>
        </div>
        
        {% with mos_list=synths, isSynthTable=true%}
            {% include 'tables/mos.jinja'%}
        {% endwith %}
    </div>

    <div class="mt-4">
        <div class="d-flex">
            <h3 class="mr-auto p-2">Upptökur</h3>
            <div>
            <a href='{{url_for("stream_MOS_zip", id=mos.id)}}' class='p-2 btn btn-primary'>
                {{macros.btn_icon('download', 'r')}}
                Sækja
            </a>
            </div>
        </div>
        
        {% with mos_list=ground_truths, isSynthTable=false%}
            {% include 'tables/mos.jinja'%}
        {% endwith %}
    </div>
{% endblock %}

{% block no_results %}
    {% if mos_list.total == 0 %}
        {{macros.no_results("Engar setningar í mos prufu",
            "Til að sjá setningar þarf fyrst að bæta þeim við.",
            url_for('mos'), "Bæta við setningum")}}
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal fade" id='uploadMOSModal' tabindex="-1">
        <form method='POST' enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hlaða upp talgerfingum fyrir MOS próf</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Athugaðu að hlaða þarf upp .zip skrá sem inniheldur möppu sem heitir "audio" og skrá sem heitir index.tsv.
                        Audio mappan inniheldur allar talgerfingarnar og index.tsv tengir auðkenni hverrar MOS-setningar við nafn
                        talgerfingarinnar í audio möppunni.
                    </p>
                    {% with form=mos_form %}
                        {% include 'forms/_form.jinja' %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                    <button class='btn btn-primary' type='submit'>
                        Klára
                        <span class='ml-1'><i class='fa fa-check'></i></span>
                    </button>
                </div>
                </div>
            </div>
        </form>
    </div>

     <div class="modal fade" id='deleteModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða línu!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Með því að eyða þessari lotu fremur þú alheimssglæp.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a id='confirmationButton' href='{{url_for("delete_mos_instance", id=1)}}' class='btn btn-danger'>
                    Eyða
                    {{macros.btn_icon('trash', 'l')}}
                </a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        function deletebutton(id){
            $('#deleteModal #confirmationButton').attr('href', '{{url_for("delete_mos_instance", id=1)}}'.replace("1", id));
        }

        $(".mos-check-button").on('change', function(){
            var id = this.name.split('mos-')[1];
            updateMOS(this)
        });


        function updateMOS(form) {
            var xhr = new XMLHttpRequest();
            xhr.onload = function(e) {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status == '200'){
                        var response = JSON.parse(xhr.responseText);
                        //console.log(response);
                    } else{
                        promptError("Villa koma upp:", xhr.responseText, "");
                    }
                }
            }
            let formData = new FormData(form);
            xhr.open("POST", form.action, true);
            xhr.send(formData);
        }
    </script>
{% endblock %}