{% extends "lists/_list.jinja" %}
{% block title %}{{mos.printable_id}}{% endblock %}
{% block total %}{{mos_list|length}}{% endblock %}

{% block header_content %}
    {%if not isReady%}
        <div class="float-left text-warning">
            <span>Þessi MOS prufa er ekki tilbúin. Það á eftir að hlaða upp 1 eða fleiri talgerfingum.</span>
        </div>
    {% endif %}
{% endblock %}

{%block buttons %}
    {% if current_user.is_admin() %}
        <a href='{{url_for("stream_MOS_zip", id=mos.id)}}' class='float-right btn btn-primary'>
            {{macros.btn_icon('download', 'r')}}
            Sækja
        </a>
        <button class="btn btn-secondary btn-sm float-right mr-2" type="button" data-toggle='modal', data-target='#downloadMOSModal'>
            {{macros.btn_icon('upload', 'r')}}
            Hlaða upp talgerfingum
        </button>
        <a class='btn btn-secondary btn-sm text-success float-right mr-2' href='{{url_for("mos_edit", id=mos.id)}}'>
            {{macros.btn_icon('plus', 'r')}}
            Breyta
        </a>
        <a class='btn btn-secondary btn-sm text-success float-right mr-2' href='{{url_for("mos_test", id=mos.id)}}'>
            {{macros.btn_icon('play', 'r')}}
            Hefja MOS próf
        </a>
    {% endif %}
{% endblock %}

{% block table %}
    {% with mos_list=mos_list %}
        {% include 'tables/mos.jinja'%}
    {% endwith %}
{% endblock %}

{% block no_results %}
    {% if mos_list.total == 0 %}
        {{macros.no_results("Engar setningar í mos prufu",
            "Til að sjá setningar þarf fyrst að bæta þeim við.",
            url_for('mos'), "Bæta við setningum")}}
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal fade" id='downloadMOSModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sækja söfnun</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if collection.has_zip %}
                    <p class='font-weight-bold'>
                        Búið er að útbúa skjalasafn fyrir þessa söfnun
                    </p>
                    <p>
                        Skjalasafnið var gert þegar búið var að lesa {{collection.zip_token_count}} setningar.
                        Núna er búið að lesa {{collection.num_tokens - collection.num_nonrecorded_tokens}} setningar.
                        Þú getur annað hvort búið til nýtt skjalasafn eða náð í það nýjasta.
                    </p>
                {% else %}
                    <p class='font-weight-bold'>
                        Ekki er búið að útbúa skjalasafn
                    </p>
                    <p>
                        Til að ná í söfnun þarf fyrst að útbúa skjalasafn. Þegar skjalasafnið er tilbúið birtist
                        það <a target="_blank" rel="noopener noreferrer" href='{{url_for("collection_zip_list")}}'>hér</a>.
                        Athugið að það getur tekið allt að 10 mínútur að útbúa skjalasafnið.
                    </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if collection.has_zip %}
                    <a href='{{url_for("stream_collection_zip", id=collection.id)}}' class='btn btn-primary'>
                        Sækja söfnun
                        {{macros.btn_icon('download', 'r')}}
                    </a>
                {% endif %}
                <a href='{{url_for("generate_zip", id=collection.id)}}' class='btn btn-secondary'>
                    Gera skjalasafn
                    {{macros.btn_icon('archive', 'r')}}
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
            </div>
            </div>
        </div>
    </div>
    {% include 'modals/user_confirm.jinja' %}
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>

        $(".mos-check-button").on('change', function(){
            var id = this.name.split('mos-')[1];
            console.log(id)
            updateMOS(this)
        });


        function updateMOS(form) {
            var xhr = new XMLHttpRequest();
            xhr.onload = function(e) {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status == '200'){
                        var response = JSON.parse(xhr.responseText);
                        //console.log(response);
                    } else{
                        promptError("Villa koma upp:", xhr.responseText, "");
                    }
                }
            }
            let formData = new FormData(form);
            xhr.open("POST", form.action, true);
            xhr.send(formData);
        }
    </script>
{% endblock %}