{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>Upptaka #{{recording.id}}</h1>
            <p class='font-weight-bold'>{{recording.get_printable_id()}}
                {% if recording.marked_as_bad %}
                    <span class='text-danger'>Merkt sem léleg.</span>
                {% endif %}
            </p>
        </div>
        <div class='col-md-6 col-12'>
            <div class='row'>
                <div class='col-6'><p>Tekið upp:</p></div>
                <div class='col-6 text-right'><p>{{recording.created_at | datetime(format='medium')}}</p></div>

                <div class='col-6'><p>Lesið af:</p></div>
                <div class='col-6 text-right'><p>{{recording.user | default("ekki skráð", true)}}</p></div>

                <div class='col-6'><p>Lengd:</p></div>
                <div class='col-6 text-right'><p>{{recording.get_printable_duration()}}</p></div>

                <div class='col-6'><p>Texti lesinn:</p></div>
                <div class='col-6 text-right'><p>{{recording.token.text}}</p></div>

                <div class='col-6'><p>Rafrænt afrit:</p></div>
                <div class='col-6 text-right'><p>{{recording.get_printable_transcription()}}</p></div>
            </div>
        </div>
        <div class='col-md-6 col-12'>
            <div class='row'>
                <div class='col-6'><p>Sample rate:</p></div>
                <div class='col-6 text-right'><p>{{recording.sr}}</p></div>

                <div class='col-6'><p>Fjöldi rása:</p></div>
                <div class='col-6 text-right'><p>{{recording.num_channels}}</p></div>

                <div class='col-6'><p>Fjöldi ramma:</p></div>
                <div class='col-6 text-right'><p>{{recording.num_frames}}</p></div>

                <div class='col-6'><p>Bitadjúp:</p></div>
                <div class='col-6 text-right'><p>{% if recording.bit_depth %}{{recording.bit_depth}}{% else %}Ekki skráð{% endif %}</p></div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <a class='btn btn-danger float-right ml-1' href="{{url_for('delete_recording', id=recording.id)}}">
                {{macros.btn_icon('trash', 'r')}}
                Eyða
            </a>
            <a href="{{url_for('token', id=recording.token.id)}}" class='btn btn-secondary float-right ml-1'>
                Skoða setningu
            </a>
            <form method="POST" action=>
                {% if recording.marked_as_bad %}
                    <a href="{{url_for('toggle_recording_bad', id=recording.id)}}" class='btn btn-success float-right ml-1'>
                        {{macros.btn_icon('check', 'r')}}
                        Merkja sem góð
                    </a>
                {% else %}
                    <a href="{{url_for('toggle_recording_bad', id=recording.id)}}" class='btn btn-warning float-right ml-1'>
                        {{macros.btn_icon('times', 'r')}}
                        Merkja sem léleg
                    </a>
                {% endif%}
            </form>
            <div>
                <audio id="audio-{{recording.id}}" src={{recording.get_download_url()}} type="audio/wav"></audio>
                <a class='btn btn-secondary float-right ml-1' href='{{recording.get_download_url()}}'><i class='fa fa-download'></i></a>
                <button type='button' class='btn btn-secondary float-right ml-1' onClick="play({{recording.id}})">
                    <i id='playButtonIcon-{{recording.id}}' class='fa fa-play'></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src='{{url_for("static", filename="js/listControls.js")}}'></script>
    <!--<script src='{{url_for("static", filename="js/audioViz.js")}}'></script>-->
{% endblock %}