{% extends "__base.jinja" %}
{% block body %}
<div class='row mb-3'>
    <div class='col-12'>
        <h1 class='font-weight-bold'>Upptökur</h1>
        <p>Fjöldi: {{recordings.total}}</p>
        <a href="{{url_for('recording_list')}}{% if not only_bad %}?only_bad=True{% endif %}" class='btn btn-secondary float-right mb-1'>
            {% if only_bad %}
                Sjá alla
            {% else %}
                Sjá bara slæma
            {% endif %}
        </a>
    </div>
</div>
<div class='row'>
    <div class='col-12'>
        {% with recordings=recordings.items, url=url_for('recording_list') %}
            {% include '_recording_table.jinja'%}
        {% endwith%}
    </div>
</div>
<div class='row mt-3'>
    <div class='col-12'>
        {{macros.pagination(recordings, url_for("recording_list"))}}
    </div>
</div>
{% endblock %}