{% extends "__base.jinja" %}
{% block body %}
<div class='row mb-3'>
    <div class='col-12'>
        <h1 class='font-weight-bold'>Upptökur</h1>
    </div>
</div>
<div class='row'>
    <div class='col-12'>
        {% with recordings=recordings.items %}
            {% include '_recording_table.jinja'%}
        {% endwith%}
    </div>
</div>
<div class='row'>
    <div class='col-12'>
        {{macros.pagination(recordings, url_for("recording_list"))}}
    </div>
</div>
{% endblock %}
