{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>Lota : {{session.get_printable_id()}}</h1>
            <h2>Rödd: {{session.get_user}}</h2>
            <p>Upptökustjóri: {{session.get_manager}}</p>
            <p>Tekin upp þann: {{session.created_at | datetime(format='low')}}</p>
            <p>Setningar teknar upp: {{session.num_recordings}}</p>
            <p>Lengd lotu: {{session.get_printable_duration() | default("N/A")}}</p>
            <a href='{{url_for("record_session", coll_id=session.collection.id)}}?user_id={{session.user_id}}'
                class='btn btn-success btn-sm float-right mb-2 ml-2'
                data-toggle="tooltip" data-placement="bottom" title="Sama rödd, {{session.get_user}}, verður notuð.">
                {{macros.btn_icon('microphone', 'r')}}
                Taka upp fleiri
            </a>
            <a href='{{url_for("verify_session", id=session.id)}}' class='btn btn-sm btn-secondary float-right mb-2 ml-2'>
                {{macros.btn_icon('headphones', 'r')}}
                hlusta
            </a>
            {% if current_user.is_admin() %}
                <a href='{{url_for("session_edit", id=session.id)}}' class='btn btn-sm btn-secondary text-warning float-right mb-2 ml-2'>
                    {{macros.btn_icon('edit', 'r')}}
                    Breyta
                </a>
                <button type='button' data-toggle='modal', data-target='#deleteModal' class='btn btn-sm btn-secondary text-danger float-right mb-2 ml-2'>
                    {{macros.btn_icon('trash', 'r')}}
                    Eyða
                </button>
            {% endif %}
            <a href='{{url_for("collection", id=session.collection.id)}}' class='btn btn-sm btn-secondary float-right'>
                {{macros.btn_icon('arrow-left', 'r')}}
                Til baka í {{session.collection.name}}
            </a>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Upptökur</h3>
        </div>
        <div class='col-12'>
            {% with recordings=session.recordings %}
                {% include 'tables/recordings.jinja'%}
            {% endwith %}
        </div>
    </div>
{% endblock %}
{% block modals %}
    <div class="modal fade" id='deleteModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða lotu!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                Með því að eyða lotu eyðast allar upptökur sem voru gerðar í lotunni.
                Í Þessari lotu eru {{session.num_recordings}} upptökur.
                Ertu viss um að þú viljir eyða þessari lotu?
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a href='{{url_for("delete_session", id=session.id)}}' class='btn btn-danger'>
                    Eyða
                    {{macros.btn_icon('trash', 'l')}}
                </a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}