{% extends "__base.jinja" %}
{% block body %}
    <div class='row mb-3'>
        <div class='col-12'>
        <div class='card'>
            <div class='row no-gutters'>
                <div class='col-xl-6 col-md-8 col-12'>
                    <div class='card-body'>
                        <h3 class='card-text'>{{token.text}}</h3>
                    </div>
                </div>
                <div class='col-xl-6 col-md-4 col-12'>
                    <div class='card-body'>
                        <p>Söfnun: {{token.collection.name}}</p>
                        <p>Bætt við þann {{token.created_at | datetime(format='low')}}</p>
                        <p>Upprunalegt skjal: <code>{{token.original_fname}}</code></p>
                        <p>Núverandi skjal: <a href="{{token.get_download_url()}}"><code>{{token.fname}}</code></a></p>
                        {% if token.marked_as_bad %}
                            <p class='text-danger'>Merktur sem slæmur.</p>
                        {% endif %}
                        {% if token.pron %}
                            <p>{{token.pron | safe}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    <div class='row mb-3'>
        <div class='col-12'>
            <a href={{token.get_record_url()}} class='btn btn-success float-right'>
                {{macros.btn_icon('microphone', 'r')}} Taka upp
            </a>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Upptökur</h3>
        </div>
        <div class='col-12'>
            {% with recordings=token.recordings %}
                {% include '_recording_table.jinja'%}
            {% endwith %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{super()}}
{% endblock %}