{% extends "__base.jinja" %}
{% block body %}
    <div class='row mb-3'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>Notendur</h1>
            <p>Fjöldi : {{users.total}}</p>
            <a href='{{url_for("user_create")}}' class='btn btn-success float-right'>
                {{macros.btn_icon('plus', 'r')}}
                Búa til
            </a>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <div class='table-responsive'>
                <table class='table'>
                    <thead>
                        <th>Nafn</th>
                        <th>Tölvupóstur</th>
                        <th>Staða</th>
                    </thead>
                    <tbody>
                        {% for user in users.items %}
                            <tr>
                                <td><a href={{user.get_url()}}>{{user.get_printable_name()}}</a></td>
                                <td>{{user.email}}</td>
                                <td>{% for role in user.roles %}{{role.name}}{% endfor %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            {{macros.pagination(users, url_for('user_list'))}}
        </div>
    </div>
{% endblock %}
