{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>Gagnagreining</h1>
        </div>

        <div class='col-12'>
            <a href="{{url_for('verify_queue')}}" class='btn btn-success float-right'>
                Greina
                {{macros.btn_icon('arrow-right', 'l')}}
            </a>
            <a href="{{url_for('lobe_shop')}}" class='btn btn-secondary text-warning float-right mr-2'>
                Búðin
                {{macros.btn_icon('coins', 'l')}}
            </a>
        </div>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Greinendur</h3>
            <p>
                <i class='fa fa-crown text-warning mr-2'></i>
                <span>Atli Thor Sigurgeirsson hefur haldið efsta sætinu í 3 daga.</span>
            </p>
            <div class='table-responsive'>
                <table class='table table-sm table-striped'>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="color: {{config.COLORS.diamond}}; text-align:right;">Demantar</th>
                            <th style='text-align:right;'>Greiningar</th>
                            <th style='text-align:right;'>Greindar lotur</th>
                            <th style='text-align:right;'>Rangar upptökur</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for verifier in verifiers %}
                            <tr>
                                <th style='vertical-align:middle;' scope='row'>{{loop.index}}</th>
                                <td style='vertical-align:middle;'>
                                    {{macros.verifier_icon(verifier.progression.equipped_icon.fa_id, verifier.progression.equipped_icon.color, '2x')}}
                                </td>
                                <td style='vertical-align:middle;'>
                                    <p class='mb-0'>
                                        <a href="#" data-toggle="modal" data-target="#userModal-{{verifier.id}}">
                                            {{verifier.progression.equipped_title.title}}
                                            {{verifier.name}}
                                        </a>
                                        {% if loop.index == 1 %}
                                            <span class='ml-2'><i class='fa fa-crown text-warning'></i></span>
                                        {% endif %}
                                    </p>
                                    <p class='mb-0'>
                                        {% if verifier.progression.equipped_quote.quote %}
                                            <small class='font-italic'>{{verifier.progression.equipped_quote.quote}}</small>
                                        {% endif %}
                                    </p>
                                </td>
                                <td style='vertical-align:middle; text-align:right;'>
                                    <span style="color: {{config.COLORS.diamond}}">
                                        {{verifier.progression.experience}}
                                        <i class='fa fa-gem ml-1'></i>
                                    </span>
                                </td>
                                <td style='vertical-align:middle; text-align:right;'>{{verifier.progression.num_verifies}}</td>
                                <td style='vertical-align:middle; text-align:right;'>{{verifier.progression.num_session_verifies}}</td>
                                <td style='vertical-align:middle; text-align:right;'>{{verifier.progression.num_invalid}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class='col-12'>
            <h3 class='font-weight-bold'>Vikulegt markmið hópsins</h3>
            <p>
                Í þessari viku ætlum við að reyna að greina {{config.ECONOMY.weekly_challenge.goal}} upptökur.
                <br>
                Verðlaun eru gefin út á þriðjudögum.
            </p>
            <div class="progress" style="height: 10px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{weekly_progress}}%;"></div>
            </div>
            <p class='mt-2'>Verðlaun:
                <span class='text-warning'>
                    {{config.ECONOMY.weekly_challenge.coin_reward}}
                    <i class='fa fa-coins ml-1'></i>
                </span>
                <span style="color: {{config.COLORS.diamond}}">
                    {{config.ECONOMY.weekly_challenge.experience_reward}}
                    <i class='fa fa-gem ml-1'></i>
                </span>
                <span class='float-right'>{{weekly_verifies}}/{{config.ECONOMY.weekly_challenge.goal}}</span>
            </p>
        </div>

        <div class='col-12 mt-3 mb-3'>
            <h3 class='font-weight-bold'>Markmið</h3>
            <p>Önnur markmið og afrek til að fá fleiri aura og demanta.</p>
            <div class='row'>
                <div class='col-xl-3 col-md-4 col-sm-6 col-12'>
                    {% with category=config.ECONOMY.achievements.verification, level=current_user.progression.verification_level, progress=verification_progress, type='verification' %}
                        {% include 'achievement_card.jinja' %}
                    {% endwith %}
                </div>
                <div class='col-xl-3 col-md-4 col-sm-6 col-12'>
                    {% with category=config.ECONOMY.achievements.spy, level=current_user.progression.spy_level, progress=spy_progress, type='spy' %}
                        {% include 'achievement_card.jinja' %}
                    {% endwith %}
                </div>
                <div class='col-3'>
                    {% with category=config.ECONOMY.achievements.streak, level=current_user.progression.streak_level, progress=streak_progress, type='streak' %}
                        {% include 'achievement_card.jinja' %}
                    {% endwith %}
                </div>
            </div>
        </div>

    {% for verifier in verifiers %}
        <!-- userModal -->
        <div class="modal fade" id="userModal-{{verifier.id}}" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notandi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    {{macros.verifier_card(verifier)}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                </div>
                </div>
            </div>
        </div>
    {%endfor%}
{% endblock %}


