{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1 class='font-weight-bold'>Gagnagreining</h1>
        </div>

        <div class='col-12'>
            <a href="{{url_for('verify_queue')}}" class='btn btn-success float-right'>
                Greina
                {{macros.btn_icon('arrow-right', 'l')}}
            </a>
            <a href="{{url_for('lobe_shop')}}" class='btn btn-secondary text-warning float-right mr-2'>
                Búðin
                {{macros.btn_icon('coins', 'l')}}
            </a>
        </div>
        <div class='col-12'>
            <h3 class='font-weight-bold'>Greinendur</h3>
            <p>
                <i class='fa fa-crown text-warning mr-2'></i>
                <span>Atli Thor Sigurgeirsson hefur haldið efsta sætinu í 3 daga.</span>
            </p>
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nafn</th>
                        <th>Fjöldi greininga</th>
                        <th>Fjöldi 2. stigs greininga</th>
                    </tr>
                </thead>
                <tbody>
                    {% for verifier in verifiers %}
                        <tr>
                            <th scope='row'>{{loop.index}}</th>
                            <td>
                                {{verifier.name}}
                                {% if loop.index == 1 %}
                                    <span class='ml-2'><i class='fa fa-crown text-warning'></i></span>
                                {% endif %}
                            </td>
                            <td>{{verifier.num_verifies}}</td>
                            <td>{{verifier.num_secondary_verifies}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class='col-12'>
            <h3 class='font-weight-bold'>Vikulegt markmið hópsins</h3>
            <p>
                Í þessari viku ætlum við að reyna að greina {{config.ECONOMY.weekly_challenge.goal}} upptökur.
                <br>
                Verðlaun eru gefin út á þriðjudögum.
            </p>
            <div class="progress" style="height: 10px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{weekly_progress}}%;"></div>
            </div>
            <p class='mt-2'>Verðlaun:
                <span class='text-warning'>
                    {{config.ECONOMY.weekly_challenge.coin_reward}}
                    <i class='fa fa-coins ml-1'></i>
                </span>
                <span class='text-danger'>
                    {{config.ECONOMY.weekly_challenge.experience_reward}}
                    <i class='fa fa-gem ml-1'></i>
                </span>
                <span class='float-right'>{{weekly_verifies}}/{{config.ECONOMY.weekly_challenge.goal}}</span>
            </p>
        </div>

        <div class='col-12 mt-3 mb-3'>
            <h3 class='font-weight-bold'>Verðlaun</h3>
            <p>Hérna eru öll verðlaunin sem þú hefur unnið þér inn.</p>
            <div class='row'>
                <div class='col-xl-3 col-md-4 col-sm-6 col-12'>
                    {% with category=config.ECONOMY.achievements.verification, level=current_user.progression.verification_level %}
                        {% include 'achievement_card.jinja' %}
                    {% endwith %}
                </div>
                <div class='col-xl-3 col-md-4 col-sm-6 col-12'>
                    {% with category=config.ECONOMY.achievements.spy, level=current_user.progression.spy_level %}
                        {% include 'achievement_card.jinja' %}
                    {% endwith %}
                </div>
                <div class='col-3'>
                    <div class='card'>
                        <div class='card-body'>
                            <p class='text-center'><i class='fa fa-crown fa-5x text-warning'></i></p>
                            <h5 class='card-title text-center'>Toppur</h5>
                            <p class='card-text text-center'>Þú hefur náð efsta sætinu, enginn er betri en þú!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}