<div id='micCard' class='card' style='display:none;'>
    <div class='card-body'>
        <div id='micWaveform'></div>
        <canvas id="meter" height="5" style='background-color: "gray"; width:100%;'></canvas>
    </div>
</div>
