<div id='recordingCard' class='card'>
    <div class='card-body'>
        <div id="waveform"></div>
    </div>
    <ul class='list-group list-group-flush'>
        <li class='list-group-item'>
            <code id='downloadRecordFName' class='d-none d-md-inline-block'></code>
            <div class='btn-group float-right' role='group'>
                <button id='cut' type='button' class='btn btn-secondary btn-sm'>
                    <span id='cutButtonText'>Klippa</span>
                    <i id='cutButtonIcon' class='fa fa-cut text-success ml-1'></i>
                </button>
                <button id='play' type='button' class='btn btn-secondary btn-sm'>
                    <i id='playButtonIcon' class='fa fa-play'></i>
                </button>
                <button id='download' class="btn btn-secondary btn-sm"><i class='fa fa-download'></i></button>
                <button id='delete' type='button' class='btn btn-secondary btn-sm text-danger'>
                    <i class='fa fa-trash'></i>
                </button>
            </div>
        </li>
    </ul>
</div>
