<div id='videoCard' class='d-flex align-items-center'>
    <video id="liveVideo" playsinline autoplay muted style='display: none;'></video>
    <video id="recordedVideo" playsinline style='display: none;'></video>
    <span id='videoPlaceHolder' class='text-center w-100 my-4 text-danger'><i class='fa fa-video fa-3x'></i></span>
</div>
