.hover-row{
    cursor: pointer;
}

#recordButton{
    width: 100px;
}

#btn-th{
    width: 50px;
}

.table-no-break{
    white-space: nowrap;
}

.nowrap-td{
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px !important;
    text-overflow: ellipsis;
}

.pending-button, .pending-button:hover{
    border: 2px solid orange;
}

.recording-button, .recording-button:hover{
    border: 2px solid red;
}

hr{
    border-top: 1px solid white !important;
}

#notification{
	position: fixed !important;
	left: -350px;
	bottom:20px;
	z-index:3;
}

#oscilloscope{
    width: 100%;
    height: 50px;
}

video{
    width: 100%;
}

#videoCard{
    border-radius: 0.25rem;
    background-color:#303030;
    width: 100%;
    overflow: hidden;
}

#tokenCard{
    width: 100%;
}


.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Velja" !important;
}

.custom-file-label {
    border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;
}

.rounded-pill-right{
    border-radius: 0 50rem 50rem 0 !important;
}

.rounded-pill-left{
    border-radius: 50rem 0 0 50rem !important;
}

/* Verify form */
ul#verdict {
    display: block;
    padding: 0;
}
ul#verdict li {
    display: inline;
    margin-right: 10px;
}
ul#verdict li:last-child {
    float: right;
    margin-right: 0;
}
ul#verdict li label {
    display: inline-block;
    padding: 8px 12px;
    background: #333;
    border-radius: 5px;
}
ul#verdict li input[type=checkbox] {
    display: none;
}
ul#verdict li input[type=checkbox]:checked + label {
    background: #666;
}
textarea.form-control {
    background-color:#000;
    color:#999;
}