.hover-row{
    cursor: pointer;
}

#recordButton{
    width: 100px;
}

.table-no-break{
    white-space: nowrap;
}

.table-btn-wrapper{
    min-width: 100px;
}

.directionButton{
    height: 40px;
    width: 40px;
}

.nowrap-td{
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px !important;
    text-overflow: ellipsis;
}

.pending-button, .pending-button:hover{
    border: 2px solid orange;
}

.recording-button, .recording-button:hover{
    border: 2px solid red;
}

hr{
    border-top: 1px solid white !important;
}