.hover-row{
    cursor: pointer;
}

#recordButton{
    width: 100px;
}

.table-no-break{
    white-space: nowrap;
}

.table-btn-wrapper{
    min-width: 150px;
}

.directionButton{
    height: 40px;
    width: 40px;
}

.nowrap-td{
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px !important;
    text-overflow: ellipsis;
}