<div class="{% if field.type == 'BooleanField'%}custom-control custom-switch mb-2
    {% elif field.type == 'MultipleFileField' or field.type == 'FileField' %}custom-file mb-2
    {% else%}form-group{% endif%}">
    {% if field.type != 'HiddenField' and field.type != 'CSRFTokenField' and field.type != 'RecaptchaField'
        and field.type != 'BooleanField' and field.type != 'MultipleFileField' and field.type != 'FileField' %}
        {{ field.label }} {% if field.flags.required %}*{% endif %}
    {% endif %}

    {% if field.type == 'BooleanField' %}
        {{field(checked=field.data, class_="custom-control-input")}}
        {{field.label(class_="custom-control-label")}}
        {% if field.flags.required %}*{% endif %}
    {% elif field.type == 'MultipleFileField' %}
        {{field(class_='custom-file-input')}}
        {{field.label(class_="custom-file-label")}}
    {% elif field.type == 'FileField' %}
        {{field(class_='custom-file-input')}}
        {{field.label(class_="custom-file-label")}}
    {% else %}
        {{ field(class_='form-control') }}
    {% endif %}
    <small class="form-text text-muted">{{field.description}}</small>
    {% for error in field.errors %}
        <p class='text-danger'>
            <span class='mr-2'>
                <i class='fa fa-exclamation-circle'></i>
            </span>
            {{ error }}</p>
    {% endfor %}
</div>